.ui-datepicker {
    background-image: linear-gradient(to bottom, #ffffff, #fafafa, #f5f5f5, #f0f0f0, #f0f0f0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 0 20px 0;
}

/* Encabezado calidario */

.ui-datepicker-header {
    background-color: #0AA1DD;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    padding: 10px 5px;
}

/* Título de mes y año */
.ui-datepicker-title {
    color: white;
    text-align: center;
    cursor: context-menu;
}

/* Botones ANTERIOR y SIGUIENTE */
.ui-datepicker-prev, .ui-datepicker-next {
    cursor: pointer;
    display: inline-block;
    color: white;
}

.ui-datepicker-prev{
    float: left;
    background-position: center -30px;
}

.ui-datepicker-next{
    float: right;
    background-position: center 0;
}

/* Cuerpo calendario */
.ui-datepicker-calendar tr{
    margin: 10px 0;
}

.ui-widget-content .ui-state-default {
    border: 0;
    border-radius: 8px;
    padding: 6px;
    text-align: center;
    background: #fff;
    font-weight: normal;
    color: #000;
}

.ui-widget-content .ui-state-default:hover {
    border: 0;
    text-align: center;
    background: #b8b8b8;
    font-weight: normal;
    color: #fff;
}

.ui-widget-content .ui-state-active {
    border: 0;
    background: #0AA1DD;
    color: #fff;
}