<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="SedeContainer" class="row mb-3" style="display: none;">
    <label class="col-sm-2 col-form-label">Sede</label>
    <div class="col-sm-10">
        <select id="sede-lista-crearform" class="form-select" aria-label="Default select example" name="sede">
            <option value="" selected>Seleccionar Sede</option>
            <option th:each="Sede : ${listaSedes}" th:value="${Sede.nombre}" th:text="${Sede.nombre}"></option>
        </select>
    </div>
</div>
</body>
</html>