<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">


    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/stylesuperadmin.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Mar 09 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="staticBackdropLabel"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Loguearse</button>
            </div>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<div th:replace="~{superAdmin/fragments/header.html :: header}"></div>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="~{superAdmin/fragments/sidebar.html :: sidebar}"></div>
<!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Clínica INTERPUCP</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Crear Usuario</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Crear Usuario</h5>
                        <!-- Horizontal Form -->
                        <form class="filter-form-crearusuario" method="POST"
                              th:action="@{/SuperAdminHomePage/SaveUser}">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Usuario</label>
                                <div class="col-sm-10">
                                    <select id="Select Usuario" name="selectUsuario" class="form-select"
                                            aria-label="Default select example">
                                        <option th:selected="${selectUsuarioValue == null}" selected>Seleccionar
                                            Usuario
                                        </option>
                                        <option value="administrador"
                                                th:selected="${selectUsuarioValue == 'administrador'}">Administrador
                                        </option>
                                        <option value="administrativo"
                                                th:selected="${selectUsuarioValue == 'administrativo'}">Administrativo
                                        </option>
                                    </select>
                                    <span th:if="${selectUsuarioError}" th:text="${selectUsuarioError}"
                                          style="color: #FF0000;" class="error"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">DNI</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputText" name="dni"
                                           th:value="${dniValue}">
                                    <span th:if="${dniError}" th:text="${dniError}" style="color: #FF0000;"
                                          class="error"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNombres" class="col-sm-2 col-form-label">Nombres</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputNombres" name="nombres"
                                           th:value="${nombresValue}">
                                    <span th:if="${nombresError}" th:text="${nombresError}" style="color: #FF0000;"
                                          class="error"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputApellidos" class="col-sm-2 col-form-label">Apellidos</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputApellidos" name="apellidos"
                                           th:value="${apellidosValue}">
                                    <span th:if="${apellidosError}" th:text="${apellidosError}" style="color: #FF0000;"
                                          class="error"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="correoUser" class="col-sm-2 col-form-label">Correo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="correoUser" name="correoUser"
                                           th:value="${correoUserValue}">
                                    <span th:if="${CorreoError}" th:text="${CorreoError}" style="color: #FF0000;"
                                          class="error"></span>
                                </div>
                            </div>
                            <div id="clinicaContainer" class="row mb-3" style="display: none;">
                                <label class="col-sm-2 col-form-label">Clínica</label>
                                <div class="col-sm-10">
                                    <select id="clinica-lista-crearform" name="clinica" class="form-select"
                                            aria-label="Default select example">
                                        <option selected>Seleccionar Clínica</option>
                                        <option th:each="Clinica : ${listaClinicas}" th:value="${Clinica.nombre}"
                                                th:text="${Clinica.nombre}"></option>
                                        <option value="otro">Otra Clínica</option>
                                    </select>
                                    <span th:if="${clinicaError}" th:text="${clinicaError}"
                                          style="color: #FF0000;" class="error"></span>
                                    <div class="form-group" id="otraClinica"
                                         style="display:none; flex-direction: column;">
                                        <label for="otraClinicaInput">Nombre de la nueva Clínica:</label>
                                        <input type="text" class="form-control" id="otraClinicaInput"
                                               name="otraClinica" th:value="${otraClinicaValue}">
                                        <span th:if="${otraClinicaError}" th:text="${otraClinicaError}" style="color: #FF0000;"
                                              class="error"></span>

                                        <label for="correo_nueva_clinica">Correo de la nueva Clínica:</label>
                                        <input type="text" class="form-control" id="correo_nueva_clinica"
                                               name="correo_nueva_clinica"  th:value="${correo_nueva_clinicaValue}">
                                        <span th:if="${correo_nueva_clinicaError}" th:text="${correo_nueva_clinicaError}" style="color: #FF0000;"
                                              class="error"></span>

                                        <label for="telefono_nueva_clinica">Teléfono de la nueva Clínica:</label>
                                        <input type="text" class="form-control" id="telefono_nueva_clinica"
                                               name="telefono_nueva_clinica" th:value="${telefono_nueva_clinicaValue}">
                                        <span th:if="${telefono_nueva_clinicaValueError}" th:text="${telefono_nueva_clinicaValueError}" style="color: #FF0000;"
                                              class="error"></span>


                                        <label for="OtraSedeInput">Nombre de la nueva Sede:</label>
                                        <input type="text" class="form-control" id="OtraSedeInput"
                                               name="otraSede" th:value="${otraSedeValue}">
                                        <span th:if="${otraSedeValueError}" th:text="${otraSedeValueError}" style="color: #FF0000;"
                                              class="error"></span>

                                        <label for="sede_nueva_direccion">Dirección de la nueva Sede:</label>
                                        <input type="text" class="form-control" id="sede_nueva_direccion"
                                               name="sede_nueva_direccion" th:value="${sede_nueva_direccionValue}">
                                        <span th:if="${sede_nueva_direccionError}" th:text="${sede_nueva_direccionError}" style="color: #FF0000;"
                                              class="error"></span>

                                    </div>
                                </div>
                            </div>
                            <div id="SedeContainer" class="row mb-3" style="display: none;">
                                <label class="col-sm-2 col-form-label">Sede</label>
                                <div class="col-sm-10">
                                    <select id="sede-lista-crearform" class="form-select"
                                            aria-label="Default select example" name="sede">
                                        <option selected>Seleccionar Sede</option>
                                    </select>
                                    <span th:if="${sedeError}" th:text="${sedeError}"
                                          style="color: #FF0000;" class="error"></span>
                                    <div class="form-group" id="otraSede" style="display:none; flex-direction: column;">
                                        <label for="otraSede4input">Nombre de la nueva Sede:</label>
                                        <input type="text" class="form-control" id="otraSede4input"
                                               name="otraSede4" th:value="${otraSede4Value}">
                                        <span th:if="${otraSede4Error}" th:text="${otraSede4Error}" style="color: #FF0000;"
                                              class="error"></span>
                                        <label for="sede_nueva4_direccion">Dirección de la nueva Sede:</label>
                                        <input type="text" class="form-control" id="sede_nueva4_direccion"
                                               name="sede_nueva4_direccion" th:value="${sede_nueva4_direccionValue}">
                                        <span th:if="${sede_nueva4_direccionError}" th:text="${sede_nueva4_direccionError}" style="color: #FF0000;"
                                              class="error"></span>
                                    </div>
                                </div>

                            </div>
                            <div id="EspecialidadContainer" class="row mb-3" style="display: none;">
                                <label class="col-sm-2 col-form-label">Especialidad</label>
                                <div class="col-sm-10">
                                    <select id="especialidad-lista-crearform" class="form-select"
                                            aria-label="Default select example" name="especialidad">
                                        <option selected>Seleccionar Especialidad</option>
                                        <option th:each="Especialidad : ${listaEspecialidades}"
                                                th:value="${Especialidad.nombre}"
                                                th:text="${Especialidad.nombre}"></option>
                                    </select>
                                    <span th:if="${especialidadError}" th:text="${especialidadError}"
                                          style="color: #FF0000;" class="error"></span>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Crear</button>
                                <a th:href="@{/SuperAdminHomePage}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form><!-- End Horizontal Form -->

                    </div>
                </div>
            </div>
        </div>

    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Clínica InterPUCP</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

<script th:src="@{/assets/js/paginacion_administrador_superadmin.js}"></script>
<script th:src="@{/assets/js/paginacion_administrativo_superadmin.js}"></script>
<script th:src="@{/assets/js/paginacion_doctor_superadmin.js}"></script>
<script th:src="@{/assets/js/paginacion_paciente_superadmin.js}"></script>
<script th:src="@{/assets/js/CrearUsuario.js}"></script>


</body>

</html>