<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Finanzas - Administrador</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <!-- Template Main CSS File -->
    <!--<link th:href="@{/assets/css/style.css" rel="stylesheet"> -->
    <link th:href="@{/assets/css/styleadministrador.css}" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css" rel="stylesheet"/>

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Mar 09 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    = --><!-- CDN CometChat -->
    <script defer src="https://widget-js.cometchat.io/v3/cometchatwidget.js"></script>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index}" class="logo d-flex align-items-center">
            <img th:src="@{/assets/img/logo.png}" alt="">
            <span class="d-none d-lg-block">Clinica INTERPUCP</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->
            <li class="nav-item dropdown me-3">
                <div th:if="${session.superAdminLogueadoComoAdministrador}">
                    <form th:action="@{/SuperAdminHomePage/returnToSuperAdmin_being_Administrador}" method="POST">
                        <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Volver a SuperAdmin">
                            <i class="fas fa-home"></i>
                        </button>
                    </form>
                </div>
            </li>

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img th:src="@{/assets/img/messages-1.jpg}" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img th:src="@{/assets/img/messages-2.jpg}" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img th:src="@{/assets/img/messages-3.jpg}" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a th:href="@{/administrador/mensajeria2}">Ver todos los mensajes</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img th:src="@{/assets/img/userPorDefecto.jpg}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2"th:text="'Admin, '+${session.administrador.nombre}">J. Dominguez</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">

                        <span>Administrador de sede</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <!---->
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/administrador/config}">
                            <i class="bi bi-gear"></i>
                            <span>Configuraciones</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>


                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar Sesión</span>
                            </button>
                        </form>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
<br>
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar " >

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/administrador/dashboard}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link " th:href="@{/administrador/finanzas}">
                <i class="bi bi-bar-chart"></i>
                <span>Finanzas</span>
            </a>
        </li><!-- End Profile Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/administrador/calendario}">
                <i class="bi bi-card-list"></i>
                <span>Calendario General</span>
            </a>
        </li><!-- End Profile Page Nav -->
        <li>
        <a class="nav-link collapsed" th:href="@{/administrador/mensajeria2}">
            <i class="bi bi-wechat"></i>
            <span>Mensajería</span>
        </a>
        </li>
       <li class="nav-item">
      <a class="nav-link collapsed " th:href="@{/administrador/registro}">
        <i class="bi bi-ui-checks"></i>
        <span>Registro Masivo</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link  collapsed" th:href="@{/administrador/config}">
        <i class="bi bi-gear"></i>
        <span>Configuraciones</span>
      </a>
    </li>
    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">
    <section class="section dashboard">
                        <div class="card top-selling container px-4" style="min-height:551px">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title">INGRESOS <span>| Sede San Isidro</span></h5>
                                    <div>
                                        <button type="button" id="reporteingresos" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
                                            Generar reporte
                                        </button>

                                    </div>
                                    <!-- Pop-up de filtrado -->
                                    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="filterModalLabel">Filtrar reporte</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form method="post" th:action="@{/administrador/reportes}" novalidate onsubmit="return validateForm()">
                                                    <div class="modal-body">

                                                        <div class="mb-3">
                                                            <label for="tiporeporte" class="form-label">Tipo de reporte</label>
                                                            <select class="form-select" id="tiporeporte" name="tiporeporte" onchange="toggleFilterOptions()">
                                                                <option value="5" selected>Todo</option>
                                                                <option value="1">Por seguro</option>
                                                                <option value="2">Por especialidad</option>
                                                                <option value="3">Por tipo de pago</option>
                                                            </select>
                                                        </div>
                                                        <div id="porSeguro" class="mb-3" style="display: none;">
                                                            <label for="insuranceInput" class="form-label">Seguro</label>
                                                            <select class="form-select" id="insuranceInput" name="seguro" required>
                                                                <option value="">Seleccionar seguro</option>
                                                                <option  th:each="seguro : ${listaSeguros}" th:value="${seguro.idSeguro}" th:text="${seguro.nombre}"></option>
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Por favor seleccione una opción
                                                            </div>

                                                        </div>
                                                        <div id="porEspecialidad" class="mb-3" style="display: none;">
                                                            <label for="specialtyInput" class="form-label">Especialidad</label>
                                                            <select class="form-select" id="specialtyInput" name="especialidad">
                                                                <option value="">Seleccionar especialidad</option>
                                                                <option th:each="especialidad : ${listaEspecialidades}" th:value="${especialidad.idEspecialidad}" th:text="${especialidad.nombre}"></option>
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Por favor seleccione una opción
                                                            </div>
                                                        </div>
                                                        <div id="porTipoPago" class="mb-3" style="display: none;">
                                                            <label for="paymentTypeInput" class="form-label">Tipo de pago</label>
                                                            <select class="form-select" id="paymentTypeInput" name="tipopago">
                                                                <option value="">Seleccionar tipo de pago</option>
                                                                <option value="Efectivo">Efectivo</option>
                                                                <option value="Tarjeta">Tarjeta</option>
                                                                <!--<option value="3">Transferencia</option>-->
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Por favor seleccione una opción
                                                            </div>
                                                        </div>
                                                        <div id="porFecha" class="mb-3" style="display: none;">
                                                            <label for="porfechareporte" class="form-label">Todo</label>
                                                            <select class="form-select" id="porfechareporte" name="todo">
                                                                <option value="">Seleccionar</option>
                                                                <option value="1">Última semana</option>
                                                                <option value="2">Último mes</option>
                                                                <option value="3">Últimos tres meses</option>
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Por favor seleccione una opción
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                                            <button class="btn btn-primary me-1" type="submit" >Descargar</button>
                                                            <select class="form-select" name="formato">
                                                                <option value="1">Excel</option>
                                                                <option value="2">PDF </option>
                                                            </select>

                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped" id="datatable">
                                        <thead>
                                        <tr>
                                            <th>Concepto</th>
                                            <th>Monto <br> (Soles)</th>
                                            <th>Paciente</th>
                                            <th>Especialidad</th>
                                            <th>Seguro</th>
                                            <th>Fecha</th>
                                            <th>Forma de Pago</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="ingreso : ${listaIngresos}">
                                            <td th:text="${ingreso.getConcepto()}"></td>
                                            <td th:text="${ingreso.getPreciocita()}"></td>
                                            <td th:text="${ingreso.getNombreuser()}"></td>
                                            <td th:text="${ingreso.getEspecialidadcita()}"></td>
                                            <td th:text="${ingreso.getNombreseguro()}"></td>
                                            <td th:text="${#temporals.format(ingreso.getFechacancelada(), 'dd-MM-yyyy')}"></td>
                                            <td th:text="${ingreso.getTipopago()}"></td>
                                            <!--<th><a class="btn btn-outline-secondary rounded-pill text-decoration-none" th:href="@{/administrador/finanzas-recibos}" target="_blank">Ver recibo</a></th>-->
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                    <br>
                        </div>

                        <div class="card top-selling container px-4" style="min-height:550px">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title">EGRESOS <span>| Sede San Isidro</span></h5>
                                    <div>
                                        <button type="button" id="reporteegresos" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal2">
                                            Generar reporte
                                        </button>
                                    </div>
                                    <!-- Pop-up de filtrado -->
                                    <div class="modal fade" id="filterModal2" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="filterModalLabel2">Filtrar reporte</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form method="post" th:action="@{/administrador/reportesEgresos}" novalidate onsubmit="return validateForm2()">
                                                    <div class="modal-body">

                                                        <div class="mb-3">
                                                            <label for="tiporeporte" class="form-label">Tipo de reporte</label>
                                                            <select class="form-select" id="tiporeporte2" name="tiporeporte" onchange="toggleFilterOptions2()">
                                                                <option value="5" selected>Todo</option>
                                                                <option value="1">Por seguro</option>
                                                                <option value="2">Por especialidad</option>
                                                            </select>
                                                        </div>
                                                        <div id="porSeguro2" class="mb-3" style="display: none;">
                                                            <label for="insuranceInput" class="form-label">Seguro</label>
                                                            <select class="form-select" id="insuranceInput2" name="seguro" required>
                                                                <option value="">Seleccionar seguro</option>
                                                                <option  th:each="seguro : ${listaSeguros}" th:value="${seguro.idSeguro}" th:text="${seguro.nombre}"></option>
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Por favor seleccione una opción
                                                            </div>

                                                        </div>
                                                        <div id="porEspecialidad2" class="mb-3" style="display: none;">
                                                            <label for="specialtyInput" class="form-label">Especialidad</label>
                                                            <select class="form-select" id="specialtyInput2" name="especialidad">
                                                                <option value="">Seleccionar especialidad</option>
                                                                <option th:each="especialidad : ${listaEspecialidades}" th:value="${especialidad.idEspecialidad}" th:text="${especialidad.nombre}"></option>
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Por favor seleccione una opción
                                                            </div>
                                                        </div>
                                                        <div id="porFecha2" class="mb-3" style="display: none;">
                                                            <label for="porfechareporte" class="form-label">Todo</label>
                                                            <select class="form-select" id="porfechareporte2" name="todo">
                                                                <option value="">Seleccionar</option>
                                                                <option value="1">Última semana</option>
                                                                <option value="2">Último mes</option>
                                                                <option value="3">Últimos tres meses</option>
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Por favor seleccione una opción
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                                            <button class="btn btn-primary me-1" type="submit" >Descargar</button>
                                                            <select class="form-select" name="formato">
                                                                <option value="1">Excel</option>
                                                                <option value="2">PDF </option>
                                                            </select>

                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            <div class="table-responsive">
                                    <table class="table table-striped " id="datatable2">
                                        <thead>
                                        <tr>
                                            <th>Concepto</th>
                                            <th>Monto <br> (Soles)</th>
                                            <th>Nombre</th>
                                            <th>Especialidad</th>
                                            <th>Seguro</th>
                                            <th>Fecha</th>
                                            <th>Categoría de Gasto</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="egreso : ${listaEgresos}">
                                            <td th:text="${egreso.getConcepto()}"></td>
                                            <td th:text="${egreso.getPagodoctor()}"></td>
                                            <td th:text="${egreso.getNombreuser()}"></td>
                                            <td th:text="${egreso.getEspecialidadcita()}"></td>
                                            <td th:text="${egreso.getNombreseguro()}"></td>
                                            <td th:text="${#temporals.format(egreso.getFecha(), 'dd-MM-yyyy')}"></td>
                                            <td th:text="${egreso.getCategoriagasto()}"></td>

                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
                                    <br>

                            </div>

    </section>

</main><!-- End #main --><th:block th:replace="~{paciente/fragments/scripts.html::chatGeneral}"></th:block>

<script>
    var headerColorAdministrador = "[[${headerColorAdministrador}]]";
    localStorage.setItem('headerColorAdministrador', headerColorAdministrador);

    function updateHeaderColorAdministrador() {
        var color = headerColorAdministrador;
        document.getElementById('header').style.backgroundColor = color;
    }

    updateHeaderColorAdministrador();
</script>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
<!-- DataTables from jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<!-- Template Main JS File -->
<script th:src="@{/assets/js/jsAdministrador.js}"></script>
<!-- DataTables activate -->
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            lengthMenu: [
                [8,10,20],
                [8,10,20],
            ],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Ningún registro encontrado",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros)",
                "search": "Buscar:",
                "loadingRecords": "Cargando...",
                "paginate":{
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                }
            },
            "pageLength": 8,
            "columnDefs": [
                {"margin-bottom": "10px"}
            ]
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#datatable2').DataTable({
            lengthMenu: [
                [8,10,20],
                [8,10,20],
            ],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Ningún registro encontrado",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros)",
                "search": "Buscar:",
                "loadingRecords": "Cargando...",
                "paginate":{
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                }
            },
            "pageLength": 8,
            "columnDefs": [
                {"margin-bottom": "10px"}
            ]
        });
    });
</script>
</body>

</html>