<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Historial Clínico - Administrador</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/img/logoClinicaPNG.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <!--<link th:href="@{/assets/css/style.css" rel="stylesheet"> -->
  <link th:href="@{/assets/css/styleadministrador.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  = --><!-- CDN CometChat -->
    <script defer src="https://widget-js.cometchat.io/v3/cometchatwidget.js"></script>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="index}" class="logo d-flex align-items-center">
      <img th:src="@{/assets/img/logoClinica.png}" alt="">
      <span class="d-none d-lg-block">Clinica</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->



  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item dropdown me-3">
        <div th:if="${session.superAdminLogueadoComoAdministrador}">
          <form th:action="@{/SuperAdminHomePage/returnToSuperAdmin_being_Administrador}" method="POST">
            <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Volver a SuperAdmin">
              <i class="fas fa-home"></i>
            </button>
          </form>
        </div>
      </li>

      <!--<li class="nav-item dropdown">
			<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="darkModeSwitch">
			<label class="form-check-label" for="darkModeSwitch"></label>
			</div>

		</li>-->
      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-primary badge-number">4</span>
        </a><!-- End Notification Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            You have 4 new notifications
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-exclamation-circle text-warning"></i>
            <div>
              <h4>Lorem Ipsum</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>30 min. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-x-circle text-danger"></i>
            <div>
              <h4>Atque rerum nesciunt</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>1 hr. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-check-circle text-success"></i>
            <div>
              <h4>Sit rerum fuga</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>2 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-info-circle text-primary"></i>
            <div>
              <h4>Dicta reprehenderit</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>4 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-footer">
            <a href="#">Show all notifications</a>
          </li>

        </ul><!-- End Notification Dropdown Items -->

      </li><!-- End Notification Nav -->

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-chat-left-text"></i>
          <span class="badge bg-success badge-number">3</span>
        </a><!-- End Messages Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
          <li class="dropdown-header">
            You have 3 new messages
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img th:src="@{/assets/img/messages-1.jpg}" alt="" class="rounded-circle">
              <div>
                <h4>Maria Hudson</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>4 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img th:src="@{/assets/img/messages-2.jpg}" alt="" class="rounded-circle">
              <div>
                <h4>Anna Nelson</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>6 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img th:src="@{/assets/img/messages-3.jpg}" alt="" class="rounded-circle">
              <div>
                <h4>David Muldon</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>8 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="dropdown-footer">
            <a th:href="@{/administrador/mensajeria2}">Ver todos los mensajes</a>
          </li>

        </ul><!-- End Messages Dropdown Items -->

      </li><!-- End Messages Nav -->

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img th:src="@{/assets/img/userPorDefecto.jpg}" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2"th:text="'Admin, '+${session.administrador.nombre}">J. Dominguez</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Jorge Dominguez</h6>
            <span>Administrador de sede</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <i class="bi bi-person"></i>
              <span>Mi Perfil</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" th:href="@{/administrador/config}">
              <i class="bi bi-gear"></i>
              <span>Configuraciones</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>


          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <form th:action="@{/logout}" method="post">  <button type="submit" class="dropdown-item d-flex align-items-center" href="#">                 <i class="bi bi-box-arrow-right"></i>                 <span>Cerrar Sesión</span>               </button>             </form>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " th:href="@{/administrador/dashboard}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/administrador/finanzas}">
        <i class="bi bi-bar-chart"></i>
        <span>Finanzas</span>
      </a>
    </li><!-- End Profile Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/administrador/calendario}">
        <i class="bi bi-card-list"></i>
        <span>Calendario General</span>
      </a>
    </li><!-- End Profile Page Nav -->
    <li>
    <a class="nav-link collapsed" th:href="@{/administrador-mensajeria}">
      <i class="bi bi-wechat"></i>
      <span>Mensajería</span>
    </a>
    </li>
     <li class="nav-item">
      <a class="nav-link collapsed " th:href="@{/administrador/registro}">
        <i class="bi bi-ui-checks"></i>
        <span>Registro Masivo</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link  collapsed" th:href="@{/administrador/config}">
        <i class="bi bi-gear"></i>
        <span>Configuraciones</span>
      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">
  <div class="d-flex justify-content-between align-items-center">
    <div class="pagetitle">
      <h1>Historial Clínico</h1>
    </div><!-- End Page Title -->
    <div class="icon" >
      <a th:href="@{/administrador/dashboard}"><i class="bi bi-arrow-return-left"></i></a>
    </div>

  </div>


  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

          <!-- Top Selling -->
          <div class="col-12">
            <div class="card container">


              <div class="container my-4">
                <div class="row">
                  <div class="col-sm-3">
                    <img th:if="${paciente.foto!=null}" th:src="@{|/administrador/imageUser/${paciente.idPaciente}|}" alt="Foto de paciente" width="200px"  class="rounded img-thumbnail">
                    <img th:unless="${paciente.foto!=null}" th:src="@{/assets/img/userPorDefecto.jpg}"  alt="Foto de paciente" width="200px"  class="rounded img-thumbnail"/>

                  </div>
                  <div class="col-sm-7">
                    <h1 class="mb-4" th:text="${paciente.nombre}+' '+${paciente.apellidos}">JHON RICHETTI JUSHEPI</h1>
                    <p><strong>Fecha de nacimiento: </strong><span th:text="${paciente.fechanacimiento}"></span> </p>
                    <p><strong>Género:</strong> <span th:text="${paciente.genero}"></span></p>
                    <p><strong>Teléfono:</strong><span th:text="${paciente.telefono}"></span></p>
                    <p><strong>Email:</strong> <span th:text="${paciente.correo}"></span></p>
                  </div>
                </div>
              </div>

              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-alergias-tab" data-bs-toggle="tab" data-bs-target="#nav-alergias" type="button" role="tab" aria-controls="nav-alergias" aria-selected="true">Alergias</button>
                  <button class="nav-link" id="nav-consentimientos-tab" data-bs-toggle="tab" data-bs-target="#nav-consentimientos" type="button" role="tab" aria-controls="nav-consentimientos" aria-selected="false">Consentimientos</button>
                  <button class="nav-link" id="nav-mensajes-tab" data-bs-toggle="tab" data-bs-target="#nav-mensajes" type="button" role="tab" aria-controls="nav-mensajes" aria-selected="false">Mensajes</button>
                  <button class="nav-link" id="nav-cuestionarios-tab" data-bs-toggle="tab" data-bs-target="#nav-cuestionarios" type="button" role="tab" aria-controls="nav-cuestionarios" aria-selected="false">Cuestionarios</button>
                  <button class="nav-link" id="nav-formularios-tab" data-bs-toggle="tab" data-bs-target="#nav-formularios" type="button" role="tab" aria-controls="nav-formularios" aria-selected="false">Formularios</button>
                  <button class="nav-link" id="nav-tratamiento-tab" data-bs-toggle="tab" data-bs-target="#nav-tratamiento" type="button" role="tab" aria-controls="nav-tratamiento" aria-selected="false">Tratamiento</button>
                  <button class="nav-link" id="nav-documentos-tab" data-bs-toggle="tab" data-bs-target="#nav-documentos" type="button" role="tab" aria-controls="nav-documentos" aria-selected="false">Documentos anexados</button>
                  <button class="nav-link" id="nav-info-personal-tab" data-bs-toggle="tab" data-bs-target="#nav-info-personal" type="button" role="tab" aria-controls="nav-info-personal" aria-selected="false">Información personal</button>
                  <button class="nav-link" id="nav-status-tab" data-bs-toggle="tab" data-bs-target="#nav-status" type="button" role="tab" aria-controls="nav-status" aria-selected="false">Status del paciente</button>
                  <button class="nav-link" id="nav-citas-tab" data-bs-toggle="tab" data-bs-target="#nav-citas" type="button" role="tab" aria-controls="nav-citas" aria-selected="false">Próximas citas</button>
                </div>
              </nav>
              <br>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-alergias" role="tabpanel" aria-labelledby="nav-alergias-tab">
                  <h2>Alergias</h2>
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Alergias</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="alergia :${alergias}">
                      <td th:text="${alergia.getNombrealergia()}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-consentimientos" role="tabpanel" aria-labelledby="nav-consentimientos-tab">
                  <h2>Consentimientos</h2>
                  <table class="table table-striped ">
                    <thead>
                    <tr>
                      <th>Consentimientos</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="consentimient : ${consentimientos}">
                      <td th:text="${consentimient.getConcentimientospaciente()}"></td>
                    </tr>
                    </tbody>
                  </table>

                </div>
                <div class="tab-pane fade" id="nav-mensajes" role="tabpanel" aria-labelledby="nav-mensajes-tab">
                  <h2>Mensajes</h2>
                  <div class="table-responsive">
                  <table class="table ">
                    <thead>
                    <tr>
                      <th scope="col">ID del mensaje</th>
                      <th scope="col">Fecha y hora</th>
                      <th scope="col">Destinatario</th>
                      <th scope="col">Mensaje</th>
                      <th scope="col">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>2023-04-07 10:30:00</td>
                      <td>Dr. Juan Pérez</td>
                      <td>Hola, me gustaría programar una cita para revisar mi condición médica.</td>
                      <td>Enviado</td>
                    </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-cuestionarios" role="tabpanel" aria-labelledby="nav-cuestionarios-tab">
                  <h2>Cuestionarios</h2>
                  <hr>
                </div>
                <div class="tab-pane fade" id="nav-formularios" role="tabpanel" aria-labelledby="nav-formularios-tab">
                  <h2>Formularios</h2>
                  <hr>
                </div>
                <div class="tab-pane fade" id="nav-tratamiento" role="tabpanel" aria-labelledby="nav-tratamiento-tab">
                  <h2>Tratamiento</h2>
                  <table class="table table-striped ">
                    <thead>
                    <tr>
                      <th>Diagnóstico</th>
                      <th>Tratamiento</th>
                      <th>Receta</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="trata : ${tratamiento}">
                      <td th:text="${trata.diagnosticopaci}"></td>
                      <td th:text="${trata.tratamientopaci}"></td>
                      <td th:text="${trata.recetapaci}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-documentos" role="tabpanel" aria-labelledby="nav-documentos-tab">
                  <h2>Documentos anexados</h2>
                  <table class="table table-striped ">
                    <thead>
                    <tr>
                      <th scope="col">Nombre del documento</th>
                      <th scope="col">Tipo de documento</th>
                      <th scope="col">Fecha de carga</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-info-personal" role="tabpanel" aria-labelledby="nav-info-personal-tab">
                  <h2>Información personal</h2>
                  <table class="table ">
                    <tbody>
                    <tr>
                      <th scope="row">Nombre completo:</th>
                      <td th:text="${paciente.nombre}+' '+${paciente.apellidos}"></td>
                    </tr>
                    <tr>
                      <th scope="row">Fecha de nacimiento:</th>
                      <td th:text="${#temporals.format((paciente.fechanacimiento),'dd-MM-yyyy')}"></td>
                    </tr>
                    <tr>
                      <th scope="row">Edad:</th>
                      <td th:text="${paciente.edad}"></td>
                    </tr>
                    <tr>
                      <th scope="row">Género:</th>
                      <td th:text="${paciente.genero}"></td>
                    </tr>
                    <tr>
                      <th scope="row">DNI:</th>
                      <td th:text="${paciente.idPaciente}"></td>
                    </tr>
                    <tr>
                      <th scope="row">Dirección:</th>
                      <td th:text="${paciente.direccion}"></td>
                    </tr>
                    <tr>
                      <th scope="row">Número de teléfono:</th>
                      <td th:text="${paciente.telefono}"></td>
                    </tr>
                    <tr>
                      <th scope="row">Correo electrónico:</th>
                      <td th:text="${paciente.correo}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-status" role="tabpanel" aria-labelledby="nav-status-tab">
                  <h2>Status del paciente</h2>
                  <table class="table ">
                    <tbody>
                    <tr>
                      <th scope="row">Fecha de registro:</th>
                      <td th:text="${#temporals.format((paciente.fecharegistro),'dd-MM-yyyy')}"></td>
                    </tr>
                    <tr>
                      <th scope="row">Estado actual:</th>
                      <td th:text="${paciente.estado} ? 'Activo' : 'Registrador'"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-citas" role="tabpanel" aria-labelledby="nav-citas-tab">
                  <h2>Próximas citas</h2>
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Inicio</th>
                      <th scope="col">Fin</th>
                      <th scope="col">Doctor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="citas : ${prximascitas}">
                      <td th:text="${#temporals.format((citas.iniciocita),'dd-MM-yyyy HH:mm')}"></td>
                      <td th:text="${#temporals.format((citas.fincita),'dd-MM-yyyy HH:mm')}"></td>
                      <td th:text="${citas.nombredoctor}"></td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div><!-- End Top Selling -->



          <div class="card top-selling overflow-auto container">

          </div>
        </div>



      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->


    </div>
  </section>

</main><!-- End #main --><th:block th:replace="~{paciente/fragments/scripts.html::chatGeneral}"></th:block>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->

  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script>
  var headerColorAdministrador = "[[${headerColorAdministrador}]]";
  localStorage.setItem('headerColorAdministrador', headerColorAdministrador);

  function updateHeaderColorAdministrador() {
    var color = headerColorAdministrador;
    document.getElementById('header').style.backgroundColor = color;
  }

  updateHeaderColorAdministrador();
</script>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>


<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>