<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mensajería - Administrador</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/img/logoClinicaPNG.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">
  <link th:href="@{/assets/css/styleadministrador.css}" rel="stylesheet">

  <!--Links para mensajeria-->
  <!-- En tu archivo HTML -->

  <!--End link mensajeria-->

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  = --><!-- CDN CometChat -->
    <script defer src="https://widget-js.cometchat.io/v3/cometchatwidget.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img th:src="@{/assets/img/logo.png}" alt="">
      <span class="d-none d-lg-block">Clinica INTERPUCP</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->



  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item dropdown me-3">
        <div th:if="${session.superAdminLogueadoComoAdministrador}">
          <form th:action="@{/SuperAdminHomePage/returnToSuperAdmin_being_Administrador}" method="POST">
            <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Volver a SuperAdmin">
              <i class="fas fa-home"></i>
            </button>
          </form>
        </div>
      </li>

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-primary badge-number">4</span>
        </a><!-- End Notification Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            You have 4 new notifications
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-exclamation-circle text-warning"></i>
            <div>
              <h4>Lorem Ipsum</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>30 min. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-x-circle text-danger"></i>
            <div>
              <h4>Atque rerum nesciunt</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>1 hr. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-check-circle text-success"></i>
            <div>
              <h4>Sit rerum fuga</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>2 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-info-circle text-primary"></i>
            <div>
              <h4>Dicta reprehenderit</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>4 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-footer">
            <a href="#">Show all notifications</a>
          </li>

        </ul><!-- End Notification Dropdown Items -->

      </li><!-- End Notification Nav -->

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-chat-left-text"></i>
          <span class="badge bg-success badge-number">3</span>
        </a><!-- End Messages Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
          <li class="dropdown-header">
            You have 3 new messages
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img th:src="@{/assets/img/messages-1.jpg}" alt="" class="rounded-circle">
              <div>
                <h4>Maria Hudson</h4>
                <p>Estimado administrador, quisiera solicitar su autorización para realizar una cirugía ...</p>
                <p>4 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img th:src="@{/assets/img/messages-2.jpg}" alt="" class="rounded-circle">
              <div>
                <h4>Anna Nelson</h4>
                <p>Hola, quisiera informarle que hay un problema en la plataforma que está impidiendo ...</p>
                <p>6 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img th:src="@{/assets/img/messages-3.jpg}" alt="" class="rounded-circle">
              <div>
                <h4>David Muldon</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>8 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="dropdown-footer">
            <a th:href="@{/administrador/mensajeria2}">Ver todos los mensajes</a>
          </li>

        </ul><!-- End Messages Dropdown Items -->

      </li><!-- End Messages Nav -->

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img th:src="@{/assets/img/userPorDefecto.jpg}" alt="Profile" class="rounded-circle">
          <span  class="d-none d-md-block dropdown-toggle ps-2"th:text="'Admin, '+${session.administrador.nombre}"></span>
          <input type="hidden" id="userSession" th:value="${session.administrador.nombre}+' '+${session.administrador.apellidos}">
          <input type="hidden" id="userSessionDNI" th:value="${session.administrador.idAdministrador}">
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">

            <span>Administrador de sede</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <!---->
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <i class="bi bi-gear"></i>
              <span>Configuraciones</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>


          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <form th:action="@{/logout}" method="post">
              <button type="submit" class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Cerrar Sesión</span>
              </button>
            </form>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/administrador/dashboard}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/administrador/finanzas}">
        <i class="bi bi-bar-chart"></i>
        <span>Finanzas</span>
      </a>
    </li><!-- End Profile Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/administrador/calendario}">
        <i class="bi bi-card-list"></i>
        <span>Calendario General</span>
      </a>
    </li><!-- End Profile Page Nav -->
    <li class="nav-item">
      <a class="nav-link " th:href="@{/administrador/mensajeria2}">
        <i class="bi bi-wechat"></i>
        <span>Mensajería</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed " th:href="@{/administrador/registro}">
        <i class="bi bi-ui-checks"></i>
        <span>Registro Masivo</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link  collapsed" th:href="@{/administrador/config}">
        <i class="bi bi-gear"></i>
        <span>Configuraciones</span>
      </a>
    </li>

  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main ">

  <section  >
    <div class="row d-flex justify-content ">
      <div  class = "bg-white col-md-4 col-sm-2 p-6 ">
        <h3 class=" m-3">Tus chats</h3>

        <div class = "scrollable1 px-3 list-group"  >
          <button class="list-group-item fondo list-group-item-action active d-flex  justify-content p-3 mb-2 rounded border" data-bs-toggle="tab" data-bs-target="#sms1"  >
            <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class = "rounded-circle me-2"/>
            <div class="overflow-hidden">
              <div class = "d-flex justify-content-between mb-0">
                <span class="fw-bold">Diego Juan Velazquez Torres</span>
                <small>09:55 am</small>
              </div>
              <small class ="ellipsis"> Ten en cuenta que para que la propiedad 'overflow-ellipsis' funcione correctamente, el contenedor que contiene el texto debe tener una anchura fija o estar limitado por otro elemento. De lo contrario, el texto no se cortará y se mostrará completo, ignorando la propiedad 'overflow-ellipsis'.</small>
            </div>
          </button>
          <button class="list-group-item fondo list-group-item-action d-flex  justify-content p-3 mb-2 rounded border" data-bs-toggle="tab" data-bs-target="#sms2" >
            <img th:src="@{/assets/img/p3.jpg}" width="70" height="70" class = "rounded-circle me-2"/>
            <div class="overflow-hidden">
              <div class = "d-flex justify-content-between mb-0">
                <span class="fw-bold">Diego Juan Velazquez Torres</span>
                <small>09:55 am</small>
              </div>
              <small class ="ellipsis"> Ten en cuenta que para que la propiedad 'overflow-ellipsis' funcione correctamente, el contenedor que contiene el texto debe tener una anchura fija o estar limitado por otro elemento. De lo contrario, el texto no se cortará y se mostrará completo, ignorando la propiedad 'overflow-ellipsis'.</small>
            </div>
          </button>
          <button class="list-group-item fondo list-group-item-action d-flex  justify-content p-3 mb-2 rounded border" data-bs-toggle="tab" data-bs-target="#sms3" >
            <img th:src="@{/assets/img/p4.jpg}" width="70" height="70" class = "rounded-circle me-2"/>
            <div class="overflow-hidden">
              <div class = "d-flex justify-content-between mb-0">
                <span class="fw-bold">Jorge Juan Velazquez Torres</span>
                <small>09:55 am</small>
              </div>
              <small class ="ellipsis"> Ten en cuenta que para que la propiedad 'overflow-ellipsis' funcione correctamente, el contenedor que contiene el texto debe tener una anchura fija o estar limitado por otro elemento. De lo contrario, el texto no se cortará y se mostrará completo, ignorando la propiedad 'overflow-ellipsis'.</small>
            </div>
          </button>
          <button class="list-group-item fondo list-group-item-action d-flex  justify-content p-3 mb-2 rounded border" data-bs-toggle="tab" data-bs-target="#sms2" >
            <img th:src="@{/assets/img/p3.jpg}" width="70" height="70" class = "rounded-circle me-2"/>
            <div class="overflow-hidden">
              <div class = "d-flex justify-content-between mb-0">
                <span class="fw-bold">Diego Juan Velazquez Torres</span>
                <small>09:55 am</small>
              </div>
              <small class ="ellipsis"> Ten en cuenta que para que la propiedad 'overflow-ellipsis' funcione correctamente, el contenedor que contiene el texto debe tener una anchura fija o estar limitado por otro elemento. De lo contrario, el texto no se cortará y se mostrará completo, ignorando la propiedad 'overflow-ellipsis'.</small>
            </div>
          </button>
          <button class="list-group-item fondo list-group-item-action d-flex  justify-content p-3 mb-2 rounded border" data-bs-toggle="tab" data-bs-target="#sms3" >
            <img th:src="@{/assets/img/p4.jpg}" width="70" height="70" class = "rounded-circle me-2"/>
            <div class="overflow-hidden">
              <div class = "d-flex justify-content-between mb-0">
                <span class="fw-bold">Jorge Juan Velazquez Torres</span>
                <small>09:55 am</small>
              </div>
              <small class ="ellipsis"> Ten en cuenta que para que la propiedad 'overflow-ellipsis' funcione correctamente, el contenedor que contiene el texto debe tener una anchura fija o estar limitado por otro elemento. De lo contrario, el texto no se cortará y se mostrará completo, ignorando la propiedad 'overflow-ellipsis'.</small>
            </div>
          </button>
          <button class="list-group-item fondo list-group-item-action d-flex  justify-content p-3 mb-2 rounded border" data-bs-toggle="tab" data-bs-target="#sms2" >
            <img th:src="@{/assets/img/p3.jpg}" width="70" height="70" class = "rounded-circle me-2"/>
            <div class="overflow-hidden">
              <div class = "d-flex justify-content-between mb-0">
                <span class="fw-bold">Diego Juan Velazquez Torres</span>
                <small>09:55 am</small>
              </div>
              <small class ="ellipsis"> Ten en cuenta que para que la propiedad 'overflow-ellipsis' funcione correctamente, el contenedor que contiene el texto debe tener una anchura fija o estar limitado por otro elemento. De lo contrario, el texto no se cortará y se mostrará completo, ignorando la propiedad 'overflow-ellipsis'.</small>
            </div>
          </button>
          <button class="list-group-item fondo list-group-item-action d-flex  justify-content p-3 mb-2 rounded border" data-bs-toggle="tab" data-bs-target="#sms3" >
            <img th:src="@{/assets/img/p4.jpg}" width="70" height="70" class = "rounded-circle me-2"/>
            <div class="overflow-hidden">
              <div class = "d-flex justify-content-between mb-0">
                <span class="fw-bold">Jorge Juan Velazquez Torres</span>
                <small>09:55 am</small>
              </div>
              <small class ="ellipsis"> Ten en cuenta que para que la propiedad 'overflow-ellipsis' funcione correctamente, el contenedor que contiene el texto debe tener una anchura fija o estar limitado por otro elemento. De lo contrario, el texto no se cortará y se mostrará completo, ignorando la propiedad 'overflow-ellipsis'.</small>
            </div>
          </button>

        </div>
        <br>

      </div>
      <div class = "col-md-8 col-sm-10" style="background-color: #F2F2F2" >
        <div class="tab-content">
          <div class="tab-pane fade show active " id="sms1">
            <div class=" d-flex  justify-content p-4 px-5 mb-2  border-bottom"  >
              <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class = "rounded-circle me-3"/>
              <div class="overflow-hidden">
                <div class = "d-flex justify-content-between mb-0">
                  <span class="fw-bold">Diego Juan Velazquez Torres</span>
                </div>
                <p>En línea</p>
              </div>
            </div>
            <div class = "scrollable2 px-5"  >
              <div class="d-flex mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                  <div class="bg-white p-2 ms-2 rounded">
                    <p class="mb-1 fw-bold">Diego Velazquez</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div>
                    <small class=" ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row-reverse mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                  <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                    <p class="mb-1 fw-bold">Alexandra Manrique</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div class ="text-end">
                    <small class="ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
              <div class="d-flex mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                  <div class="bg-white p-2 ms-2 rounded">
                    <p class="mb-1 fw-bold">Diego Velazquez</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div>
                    <small class=" ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row-reverse mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                  <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                    <p class="mb-1 fw-bold">Alexandra Manrique</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div class ="text-end">
                    <small class="ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-3  d-flex align-items-center">
              <input type="text" class="form-control me-2  border-0" placeholder="Escribe tu mensaje...">
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
          <div class="tab-pane fade  " id="sms2">
            <div class=" d-flex  justify-content p-4 px-5 mb-2  border-bottom"  >
              <img th:src="@{/assets/img/p3.jpg}" width="70" height="70" class = "rounded-circle me-3"/>
              <div class="overflow-hidden">
                <div class = "d-flex justify-content-between mb-0">
                  <span class="fw-bold">Jorge Juan Velazquez Torres</span>
                </div>
                <p>En línea</p>
              </div>
            </div>
            <div class = "scrollable2 px-5"  >
              <div class="d-flex mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                  <div class="bg-white p-2 ms-2 rounded">
                    <p class="mb-1 fw-bold">Diego Velazquez</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div>
                    <small class=" ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row-reverse mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                  <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                    <p class="mb-1 fw-bold">Alexandra Manrique</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div class ="text-end">
                    <small class="ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
              <div class="d-flex mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                  <div class="bg-white p-2 ms-2 rounded">
                    <p class="mb-1 fw-bold">Diego Velazquez</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div>
                    <small class=" ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row-reverse mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                  <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                    <p class="mb-1 fw-bold">Alexandra Manrique</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div class ="text-end">
                    <small class="ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-3  d-flex align-items-center">
              <input type="text" class="form-control me-2  border-0" placeholder="Escribe tu mensaje...">
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
          <div class="tab-pane fade  " id="sms3">
            <div class=" d-flex  justify-content p-4 px-5 mb-2  border-bottom"  >
              <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class = "rounded-circle me-3"/>
              <div class="overflow-hidden">
                <div class = "d-flex justify-content-between mb-0">
                  <span class="fw-bold">Diego Juan Velazquez Torres</span>
                </div>
                <p>En línea</p>
              </div>
            </div>
            <div class = "scrollable2 px-5"  >
              <div class="d-flex mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                  <div class="bg-white p-2 ms-2 rounded">
                    <p class="mb-1 fw-bold">Diego Velazquez</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div>
                    <small class=" ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row-reverse mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                  <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                    <p class="mb-1 fw-bold">Alexandra Manrique</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div class ="text-end">
                    <small class="ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
              <div class="d-flex mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                  <div class="bg-white p-2 ms-2 rounded">
                    <p class="mb-1 fw-bold">Diego Velazquez</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div>
                    <small class=" ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row-reverse mb-4">

                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                  <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                    <p class="mb-1 fw-bold">Alexandra Manrique</p>
                    <small class=" ">
                      El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                    </small>
                  </div>
                  <div class ="text-end">
                    <small class="ms-2">09:55 am</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-3  d-flex align-items-center">
              <input type="text" class="form-control me-2  border-0" placeholder="Escribe tu mensaje...">
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</main><!-- End #main --><th:block th:replace="~{paciente/fragments/scripts.html::chatGeneral}"></th:block>


<script>
  var headerColorAdministrador = "[[${headerColorAdministrador}]]";
  localStorage.setItem('headerColorAdministrador', headerColorAdministrador);

  function updateHeaderColorAdministrador() {
    var color = headerColorAdministrador;
    document.getElementById('header').style.backgroundColor = color;
  }

  updateHeaderColorAdministrador();
</script>
<script th:src="@{/assets/js/sockets/socketManagerAdministrador.js}"></script>
<script>
  $(document).ready(function () {


    $("#formSend").submit(function (event) {
      event.preventDefault(); // Evita que se envíe el formulario de manera tradicional

      var remitente = $("#userSession").val();
      var contenido = $("#mensaje").val();
      var destinatario = $("#destinatario").val();

      $("#mensaje").val('');
      // Código de éxito
      $("#textArea").append('<div class="d-flex flex-row-reverse mb-4">\n' +
              '    <div class="flex flex-col col-lg-6 col-md-9 col-sm-11">\n' +
              '        <div class="text-white p-2 me-2 rounded" style="background-color: #5882FA">\n' +
              '            <p class="mb-1 fw-bold">' + remitente + '</p>\n' +
              '            <small class="">' + contenido + '</small>\n' +
              '        </div>\n' +
              '        <div class="text-end">\n' +
              '            <small class="ms-2">' + getFormattedTime() + '</small>\n' +
              '        </div>\n' +
              '    </div>\n' +
              '</div>');
      scrollToBottom();
      $("#mensaje").val('');
    });
  });
  /*// Código de éxito
                          $("#textArea").append('<div class="d-flex flex-row-reverse mb-4">\n' +
                              '    <div class="flex flex-col col-lg-6 col-md-9 col-sm-11">\n' +
                              '        <div class="text-white p-2 me-2 rounded" style="background-color: #5882FA">\n' +
                              '            <p class="mb-1 fw-bold">' + remitente + '</p>\n' +
                              '            <small class="">' + mensaje + '</small>\n' +
                              '        </div>\n' +
                              '        <div class="text-end">\n' +
                              '            <small class="ms-2">' + getFormattedTime() + '</small>\n' +
                              '        </div>\n' +
                              '    </div>\n' +
                              '</div>');
                          scrollToBottom();

                          $("#mensaje").val('');*/
  function scrollToBottom() {
    var textArea = document.getElementById("textArea");
    textArea.scrollTop = textArea.scrollHeight;
  };
  function getFormattedTime() {
    var currentTime = new Date();
    var hours = currentTime.getHours();
    var minutes = currentTime.getMinutes();
    var ampm = hours >= 12 ? 'pm' : 'am';
    hours = hours % 12;
    hours = hours ? hours : 12;
    minutes = minutes < 10 ? '0' + minutes : minutes;
    var formattedTime = hours + ':' + minutes + ' ' + ampm;
    return formattedTime;
  };

</script>


<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/jsAdministrador.js}"></script>



</body>

</html>