<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <footer class="footer" th:fragment="footer">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="d-flex justify-content-center align-items-center">
                                <img style="height: 30px;" th:src="@{/assets/img/logoClinicaPNG.png}"
                                     alt="Logo de la clínica">
                                <span class="fw-semibold ms-2">Clínica INTERPUCP</span>
                            </div>
                            <div class="text-center">
                                Desarrollado por Grupo TelePUCP
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>