<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center" th:fragment="header(paciente)">

            <!-- Clínica y Botón Cita -->
            <div class="d-flex align-items-center justify-content-between">
                <a th:href="@{/Paciente/}" class="logo d-flex align-items-center">
                    <img th:src="@{/assets/img/logoClinicaPNG.png}" class="d-none d-lg-block logoNavBar" alt="Logo de la clínica">
                    <span class="d-none d-lg-block tituloNavBar">Clínica INTERPUCP</span>
                </a>
                <i class="bi bi-list toggle-sidebar-btn botonToggle ms-sm-2"></i>
                <a class="botonNavBar botonReservarCita ms-2 ms-sm-3" th:href="@{/Paciente/reservarCita}">Reservar una
                    cita</a>
            </div>

            <!-- Íconos y Perfil -->
            <nav class="header-nav ms-auto">

                <ul class="d-flex align-items-center">

                    <!-- Notificaciones -->
                    <li class="nav-item dropdown">

                        <!-- Ícono de notificaciones -->
                        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-bell"></i>
                            <span class="badge bg-primary badge-number">3</span>
                        </a>

                        <!-- Items de notificaciones -->
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                            <li class="dropdown-header">
                                Tiene 3 notificaciones nuevas
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="notification-item">
                                <i class="bi bi-exclamation-circle text-warning"></i>
                                <div>
                                    <h4>Lorem Ipsum</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>Hace 30 minutos</p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="notification-item">
                                <i class="bi bi-exclamation-circle text-warning "></i>
                                <div>
                                    <h4>Atque rerum nesciunt</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>Hace 1 hora</p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="notification-item">
                                <i class="bi bi-check-circle text-success"></i>
                                <div>
                                    <h4>Sit rerum fuga</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>Hace 2 horas</p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="dropdown-footer">
                                <a href="#">Todas las notificaciones</a>
                            </li>

                        </ul>

                    </li><!-- End Notification Nav -->

                    <!-- Mensajes -->
                    <li class="nav-item dropdown">

                        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-chat-left-text"></i>
                            <span class="badge bg-success badge-number">2</span>
                        </a><!-- End Messages Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                            <li class="dropdown-header">
                                Tiene 2 mensajes nuevos
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="message-item">
                                <a href="#">
                                    <img th:src="@{/assets/img/messages-1.jpg}" alt="" class="rounded-circle">
                                    <div>
                                        <h4>Maria Hudson</h4>
                                        <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                        <p>Hace 4 horas</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="message-item">
                                <a href="#">
                                    <img th:src="@{/assets/img/messages-2.jpg}" alt="" class="rounded-circle">
                                    <div>
                                        <h4>Anna Nelson</h4>
                                        <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                        <p>Hace 6 horas</p>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="dropdown-footer">
                                <a th:href="@{/Paciente/mensajeria}">Todos los mensajes</a>
                            </li>

                        </ul><!-- End Messages Dropdown Items -->

                    </li><!-- End Messages Nav -->

                    <!-- Perfil -->
                    <li class="nav-item dropdown pe-3">

                        <a style="cursor: pointer" class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
                            <img th:src="@{/Paciente/imagePaciente(idPaciente=${paciente.idPaciente})}" alt="fotoPerfil" class="rounded-circle fotoNavBar">
                            <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${paciente.nombre}+' '+${paciente.apellidos.substring(0,1)}+'.'">Juanchito P.</span>
                        </a><!-- End Profile Image Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6 th:text="${paciente.nombre}+' '+${paciente.apellidos.substring(0,1)}+'.'">Juanchito P.</h6>
                                <span>Paciente</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/Paciente/perfil}">
                                    <i class="bi bi-person"></i>
                                    <span>Mi Perfil</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="bi bi-gear"></i>
                                    <span>Configuración</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <form method="post" th:action="@{/logout}">
                                    <button type="submit" class="dropdown-item d-flex align-items-center" href="#">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <span>Cerrar Sesión</span>
                                    </button>
                                </form>
                            </li>

                        </ul><!-- End Profile Dropdown Items -->
                    </li><!-- End Profile Nav -->

                </ul>
            </nav>
            <!-- End Icons Navigation -->

        </header>
        <!-- End Header -->
    </body>
</html>