<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center" th:fragment="header(paciente)">

            <!-- Clínica y Botón Cita -->
            <div class="d-flex align-items-center justify-content-between">
                <a th:href="@{/Paciente/}" class="logo d-flex align-items-center">
                    <img th:src="@{/assets/img/logoClinicaPNG.png}" class="d-none d-lg-block logoNavBar"
                         alt="Logo de la clínica">
                    <span class="d-none d-lg-block tituloNavBar">Clínica INTERPUCP</span>
                </a>
                <i class="bi bi-list toggle-sidebar-btn botonToggle ms-sm-2"></i>
                <a class="botonNavBar botonReservarCita ms-2 ms-sm-3" th:href="@{/Paciente/reservarTipo}">Reservar
                    cita</a>
            </div>

            <!-- Íconos y Perfil -->
            <nav class="header-nav ms-auto">

                <ul class="d-flex align-items-center">

                    <li class="nav-item dropdown me-3">
                        <div th:if="${session.superAdminLogueadoComoPaciente}">
                            <form th:action="@{/SuperAdminHomePage/returnToSuperAdmin_being_Paciente}" method="POST">
                                <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="Volver a SuperAdmin">
                                    <i class="fas fa-home"></i>
                                </button>
                            </form>
                        </div>
                    </li>


                    <!-- Notificaciones -->
                    <li class="nav-item dropdown">

                        <!-- Ícono de notificaciones -->
                        <a id="botonCampanaAparecerDesaparecer" class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-bell"></i>
                            <!-- Numero de notifaciones -->
                            <span id="cantidadNotificacionGlobo" class="badge bg-primary badge-number"></span>
                            <!-- Numero de notifaciones -->
                        </a>

                        <!-- Items de notificaciones -->
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">

                            <!-- Numero de notifaciones -->
                            <li id="cantidadNotificacionDesplegable" class="dropdown-header">
                            </li>
                            <!-- Numero de notifaciones -->

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <input id="guardarValor0" type="hidden" value=""/>
                            <input id="guardarValor1" type="hidden" value=""/>
                            <input id="guardarValor2" type="hidden" value=""/>

                            <li id="click0" class="notification-item">
                                <i class="bi bi-exclamation-circle text-warning"></i>
                                <div>
                                    <h4 id="titulo0">Aquí no hay notificaciones</h4>
                                    <p id="descripcion0">Aquí no hay notificaciones</p>
                                    <p id="tiempo0"></p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li id="click1" class="notification-item">
                                <i class="bi bi-exclamation-circle text-warning "></i>
                                <div>
                                    <h4 id="titulo1">Aquí no hay notificaciones</h4>
                                    <p id="descripcion1">Aquí no hay notificaciones</p>
                                    <p id="tiempo1"></p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li id="click2" class="notification-item">
                                <i class="bi bi-check-circle text-success"></i>
                                <div>
                                    <h4 id="titulo2">Aquí no hay notificaciones</h4>
                                    <p id="descripcion2">Aquí no hay notificaciones</p>
                                    <p id="tiempo2"></p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                        </ul>


                    </li><!-- End Notification Nav -->

                    <!-- Perfil -->
                    <li class="nav-item dropdown pe-3">

                        <a style="cursor: pointer" class="nav-link nav-profile d-flex align-items-center pe-0"
                           data-bs-toggle="dropdown">
                            <img th:if="${paciente.foto != null}"
                                 th:src="@{/Paciente/imagePaciente(idPaciente=${paciente.idPaciente})}" alt="fotoPerfil"
                                 class="rounded-circle fotoNavBar">
                            <img th:unless="${paciente.foto != null}" th:src="@{/assets/img/userPorDefecto.jpg}"
                                 alt="fotoPerfil" class="rounded-circle fotoNavBar">
                            <span class="d-none d-md-block dropdown-toggle ps-2"
                                  th:text="'Paciente '+${paciente.nombre}+' '+${paciente.apellidos.substring(0,1)}+'.'">Juanchito P.</span>
                        </a><!-- End Profile Image Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6 th:text="${paciente.nombre}+' '+${paciente.apellidos.substring(0,1)}+'.'">Juanchito
                                    P.</h6>
                                <span>Paciente</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/Paciente/perfil}">
                                    <i class="bi bi-person"></i>
                                    <span>Mi Perfil</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="bi bi-gear"></i>
                                    <span>Configuración</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li id="botonLogout">
                                <form method="post" th:action="@{/logout}" id="logoutForm">
                                </form>
                                <a type="submit" class="dropdown-item d-flex align-items-center">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Cerrar Sesión</span>
                                </a>
                            </li>
                            <!--<li>
                                <form method="post" th:action="@{/logout}" id="logoutForm">
                                    <button type="submit" class="dropdown-item d-flex align-items-center">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <span>Cerrar Sesión</span>
                                    </button>
                                </form>
                            </li>-->

                        </ul><!-- End Profile Dropdown Items -->
                    </li><!-- End Profile Nav -->

                </ul>
            </nav>

            <!-- End Icons Navigation -->


        </header>
        <!-- End Header -->
    </body>


</html>