<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
    </head>
    <body>
      <section id="pieDePagina">
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="d-flex align-items-center col-md-10">
                <img style="height: 30px; margin-left: 30px" src="assets/img/logoClinicaPNG.png"
                     alt="Logo de la clínica">
                <span class="fw-bold d-none d-lg-block">Clínica INTERPUCP</span>
              </div>
              <div class="d-flex align-items-center col-md-auto">
                <div class="col-md-3">
                  <i class="bi bi-telephone-fill"></i>
                </div>
                <div class="col-md-auto justify-content-end">
                  <span class="fw-bold d-none d-lg-block">987-154-200</span>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </section>
    </body>
</html>