<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <div th:fragment="chatScripts">
            <!-- CDN y Funciones CometChat-->

            <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/firebase/8.10.0/firebase.js"
                    integrity="sha512-7NBxPO/qRUrKc+Wi9GbYz0YEzMpi2UMP3mtLcswnvzI0vUFP5Jb7HNVd1V8NmEhXpSe3ZLsoGEhwRHpAZDpYPQ=="
                    crossorigin="anonymous"
                    referrerpolicy="no-referrer"
            ></script>

            <script th:src="@{/chatSetup/config.js}"></script>
            <script th:src="@{/chatSetup/firebase.js}"></script>
            <script th:src="@{/assets/js/paciente_Funciones.js}"></script>
        </div>

    </body>
</html>