<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar" th:fragment="sidebar(seleccion)">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link" th:classappend="${seleccion == 'inicio'? '':'collapsed'}" th:href="@{/Paciente}">
                        <i class="bi bi-house"></i>
                        <span>Inicio</span>
                    </a>
                </li><!-- End Inicio Nav -->

                <li class="nav-item">
                    <a class="nav-link" th:classappend="${seleccion == 'citas'? '':'collapsed'}" th:href="@{/Paciente/citas}">
                        <i class="bi bi-card-checklist"></i>
                        <span>Mis citas</span>
                    </a>
                </li><!-- End Citas Nav -->
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${seleccion == 'pagos'? '':'collapsed'}" th:href="@{/Paciente/pagos}">
                        <i class="bi bi-currency-exchange"></i>
                        <span>Mis pagos</span>
                    </a>
                </li><!-- End Pagos Nav -->
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${seleccion == 'cuestionarios'? '':'collapsed'}" th:href="@{/Paciente/cuestionarios}">
                        <i class="bi bi-journal-text"></i>
                        <span>Mis cuestionarios</span>
                    </a>
                </li><!-- End Cuestionarios Nav -->
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${seleccion == 'mensajeria'? '':'collapsed'}" th:href="@{/Paciente/mensajeria}">
                        <i class="bi bi-chat-dots"></i>
                        <span>Mensajería</span>
                    </a>
                </li><!-- End Mensajería Nav -->
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${seleccion == 'consentimientos'? '':'collapsed'}" th:href="@{/Paciente/consentimientos}">
                        <i class="bi bi-card-list"></i>
                        <span>Consentimientos</span>
                    </a>
                </li><!-- End Consentimientos Nav -->
            </ul>

        </aside><!-- End Sidebar-->
    </body>
</html>