<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard Administrativo</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/css/style_administrativo.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style_administrativo.css}" rel="stylesheet">

  <!-- DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"/>
  <!-- CDN CometChat -->
  <script defer src="https://widget-js.cometchat.io/v3/cometchatwidget.js"></script>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="~{administrativo/fragments/header.html :: header}"></div>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="~{administrativo/fragments/header.html :: aside (active='dashboard')}"></aside>
<!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Administrativo</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div th:if="${msg!=null}" th:text="${msg}" class="alert alert-success" role="alert">
          A simple success alert—check it out!
        </div>
        <div class="row">

          <!-- Top Selling -->
          <div class="col-12">
            <div style="padding-bottom: 15px;" class="card top-selling overflow-auto">

              <div class="card-body pb-0">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-title">Pacientes <span>| Referidos por mí</span></h5>
                  <!--
                                      <a class="btn btn-primary" th:href="@{/administrativo/invitar}"><i class="bi bi-plus"></i>Invitar</a>
                  -->
                  <a class="btn btn-primary" th:href="@{/administrativo/elegirFormulario}"><i class="bi bi-circle-fill"></i> Elegir Invitación</a>

                </div>

                <table id="datatable" class="table  ">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombres y apellidos</th>
                    <th scope="col">Fecha de invitación</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="temp,obj:${listaTemp}" >
                    <td th:text="${obj.index+1}"></td>
                    <td th:text="${temp.getNombreYApellido()}"></td>
                    <td th:text="${#temporals.format(temp.fechainvitado, 'dd-MM-yyyy')}"></td>
                    <td th:text="${temp.correo}"></td>
                    <td class="centered"><span class="badge bg-secondary">Invitado</span></td>
                    <td><a th:href="@{'/administrativo/editar/invitado?id=' + ${temp.id_temporal}}"><i class="bi bi-pen"></i></a></td>
                  </tr>
                  <tr th:each="paciente,obj:${listaPacientes}">
                    <td th:text="${obj.index + 1 + listaTemp.size()}"></td>
                    <td th:text="${paciente.getNombreYApellido()}"></td>
                    <td th:text="${#temporals.format(paciente.fechainvitado.toLocalDate(), 'dd-MM-yyyy')}"></td>
                    <td th:text="${paciente.correo}"></td>
                    <td th:switch="${paciente.estado}" class="centered">
                      <span th:case="1" class="badge bg-primary">Activo</span>
                      <span th:case="3" class="badge bg-info">Registrado</span>
                      <span th:case="4" class="badge bg-success">Agendado</span>
                      <span th:case="5" class="badge bg-warning">En consulta</span>
                    </td>
                    <td><a th:href="@{'/administrativo/editar?id=' + ${paciente.idPaciente}}"><i class="bi bi-pen"></i></a></td>
                  </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Top Selling -->

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">

        <!-- Recent Activity -->
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">Información <span>| Actual</span></h5>

            <p><strong>Especialidad: </strong><span th:text="${datos.especialidadId.nombre}"></span></p>
            <p><strong>Sede: </strong><span th:text="${datos.sedeId.nombre}"></span></p>

          </div>

        </div>
      </div><!-- End Recent Activity -->



    </div>

  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Clínica</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<th:block th:replace="~{paciente/fragments/scripts.html::chatGeneral}"></th:block>
<script>
  var headerColorAdministrtivo = "[[${headerColorAdministrativo}]]";
  localStorage.setItem('headerColorAdministrativo', headerColorAdministrtivo);

  function updateHeaderColorAdministrador() {
    var color = headerColorAdministrtivo;
    document.getElementById('header').style.backgroundColor = color;
  }
  updateHeaderColorAdministrador();
</script>
<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
<!-- DataTables from jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- DataTables activate -->
<script>
  //$(document).ready(function () {
  //var selectedLength;
  $('#datatable').DataTable({
    lengthMenu: [
      [10,25,50,100,-1],
      [10,25,50,100,'Todos'],
    ],
    language: {
      lengthMenu: 'Mostrar _MENU_ registros por página',
      zeroRecords: 'Ningún paciente encontrado',
      info: 'Página _PAGE_ de _PAGES_',
      infoEmpty: 'No hay registros disponibles',
      infoFiltered: '(filtrado de _MAX_ registros)',
      search: 'Buscar:',
      loadingRecords: 'Cargando...',
      paginate: {
        first: 'Primero',
        last: 'Último',
        next: 'Siguiente',
        previous: 'Anterior'
      }
    },/*
        lengthMenuCallback: function (settings, options) {
          selectedLength = options[0]; // Almacenar la opción seleccionada
        },
        initComplete: function() {
          $('#datatable tbody').css('height',50*selectedLength+'px');
          $('#datatable tbody tr').css('height','50px !important');
        }*/

  });
  /*
  $('#datatable_length select').on('change', function () {
    var newOption = $(this).val(); // Obtener la nueva opción seleccionada
    selectedLength = newOption; // Actualizar la variable con la nueva opción
    $('#datatable tbody').css('height',50*selectedLength+'px');
    $('#datatable tbody tr').css('height','50px !important');
  });*/
  //});
</script>
</body>

</html>