<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard Administrativo</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/css/style_administrativo.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style_administrativo.css}" rel="stylesheet">

  <!-- DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"/>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">

      <a th:href="@{/administrativo}" class="logo d-flex align-items-center">
        <img th:src="@{/assets/img/logo.png}" alt="">

        <span class="d-none d-lg-block">Clínica</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
  

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number" th:text="${listaNotificaciones.size()}"></span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header" th:inline="text">
              <th:block th:utext="|Tienes ${listaNotificaciones.size()} notificaciones|"/>
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver todo</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <div th:each="notificacion:${listaNotificaciones}">

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4 th:text="${notificacion.titulo}"></h4>
                <p th:text="${notificacion.descripcion}"></p>
                <p th:text="${notificacion.fecha}">4 hrs. ago</p>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            </div>

            <li class="dropdown-footer">
              <a href="#">Mostrar todas las notificaciones</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number" th:text="${listaMensajes.size()}"></span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header" th:inline="text">
              <th:block th:utext="|Tienes ${listaMensajes.size()} mensajes|"/>
              <a href="#">
                <span class="badge rounded-pill bg-primary p-2 ms-2">Ver todo</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <div th:each="mensaje: ${listaMensajes}">
              <li class="message-item">
                <a href="#">
                  <img th:src="@{'/usuario/foto/'+${mensaje.id_emisor}}" alt="" class="rounded-circle">
                  <div>
                    <h4 th:text="${mensaje.nombreemisor}">Maria Hudson</h4>
                    <p th:text="${mensaje.mensaje}">Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                    <p th:text="${mensaje.fecha}">4 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </div>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img th:src="@{/assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${datos.administrativoId.nombre}"></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6 th:text="${datos.administrativoId.nombre + ' ' +datos.administrativoId.apellidos}">Kevin Anderson</h6>
              <span>Administrativo</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>


            <li>
              <a class="dropdown-item d-flex align-items-center" href="falta.html">
                <i class="bi bi-gear"></i>
                <span>Ajustes</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Cerrar sesión</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{/administrativo}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Administrativo</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Top Selling -->
            <div class="col-12">
              <div style="padding-bottom: 15px;" class="card top-selling overflow-auto">

                <div class="card-body pb-0">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Pacientes <span>| Referidos por mí</span></h5>
                    <a class="btn btn-secondary" th:href="@{/administrativo/invitar}"><i class="bi bi-plus"></i>Invitar</a>
                  </div>

                  <table id="datatable" class="table  ">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Perfil</th>
                        <th scope="col">Nombres y apellidos</th>
                        <th scope="col">Seguro</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="paciente,obj:${listaPacientes}">
                        <td th:text="${obj.index + 1}"></td>
                        <td scope="row"><img class="rounded-circle" th:src="@{'/usuario/foto/' + ${paciente.idPaciente}}" alt=""></td>
                        <td th:text="${paciente.nombre+' '+paciente.apellidos}"></td>
                        <td th:text="${paciente.seguro.nombre}"></td>
                        <td th:switch="${paciente.estado}" class="centered">
                          <span th:case="1" class="badge bg-primary">Activo</span>
                          <span th:case="2" class="badge bg-secondary">Invitado</span>
                          <span th:case="3" class="badge bg-info">Registrado</span>
                          <span th:case="4" class="badge bg-success">Agendado</span>
                          <span th:case="5" class="badge bg-warning">En consulta</span>
                        </td>
                        <td><a th:href="@{'/administrativo/editar?id=' + ${paciente.idPaciente}}"><i class="bi bi-pen"></i></a></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Información <span>| Actual</span></h5>
              
              <p><strong>Especialidad: </strong><span th:text="${datos.especialidadId.nombre}"></span></p>
              <p><strong>Sede: </strong><span th:text="${datos.sedeId.nombre}"></span></p>

              </div>

            </div>
          </div><!-- End Recent Activity -->

          

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Clínica</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- DataTables from jQuery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>

  <!-- DataTables activate -->
  <script>
    $(document).ready(function () {
      $('#datatable').DataTable({
        "language": {
          "lengthMenu": "Mostrar _MENU_ registros por página",
          "zeroRecords": "Ningún registro encontrado",
          "info": "Página _PAGE_ de _PAGES_",
          "infoEmpty": "No hay registros disponibles",
          "infoFiltered": "(filtrado de _MAX_ registros)",
          "search": "Buscar:",
          "loadingRecords": "Cargando...",
          "paginate":{
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior",
          }
        },
        "columnDefs": [
          {"margin-bottom": "10px"}
        ]
      }); 
    });
  </script>
</body>

</html>