<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Pages / Login - NiceAdmin Bootstrap Template</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link th:href="@{/assets/img/favicon.png}" rel="icon">
        <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link th:href="@{/assets/css/style_administrativo.css}" rel="stylesheet">
        <link th:href="@{/assets_home/css/style.css}" rel="stylesheet">

        <style>
            body {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1504439468489-c8920d796a29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
                background-repeat: no-repeat;
                background-size: cover;

            }

            /*--------------------------------------------------------------
            # Loading
            --------------------------------------------------------------*/
            #loading {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 9999;
                overflow: hidden;
                background: rgb(0, 0, 0, 0.3);
            }

            #loading:before {
                content: "";
                position: fixed;
                top: calc(50% - 30px);
                left: calc(50% - 30px);
                border: 6px solid #1977cc;
                border-top-color: #d1e6f9;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                animation: animate-loading 1s linear infinite;
            }

            @keyframes animate-loading {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        </style>

        <!-- CDN para CHAT -->
        <script defer src="https://widget-js.cometchat.io/v3/cometchatwidget.js"></script>

        <!-- =======================================================
        * Template Name: NiceAdmin
        * Updated: Mar 09 2023 with Bootstrap v5.2.3
        * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>

    <body>

        <main>

            <div class="container">

                <section
                        class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column align-items-center justify-content-center">

                                <div class="d-flex justify-content-center py-4">
                                    <a th:href="@{/}" class="logo d-flex align-items-center w-auto">
                                        <img th:src="@{/assets/img/logo.png}" alt="">
                                        <span style="color: white;" class="d-none d-lg-block">Clínica</span>
                                    </a>
                                </div><!-- End Logo -->

                                <div class="card mb-3">

                                    <div class="card-body">

                                        <div class="pt-4 pb-2">
                                            <h5 class="card-title text-center pb-0 fs-4">Inicia sesión</h5>
                                            <p class="text-center small">Ingresa tu correo registrado y contraseña</p>
                                        </div>
                                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                                            Credenciales inválidas
                                        </div>

                                        <form class="row g-3 needs-validation" method="post"
                                              th:action="@{/login/credenciales}" novalidate id="loginForm">
                                            <div class="col-12">
                                                <label for="username" class="form-label">Correo electrónico</label>
                                                <div class="input-group has-validation">
                                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                    <input type="email" name="username" class="form-control"
                                                           id="username" required>
                                                    <div class="invalid-feedback">Ingrese un correo válido.</div>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label for="password" class="form-label">Contraseña</label>
                                                <input type="password" name="password" class="form-control"
                                                       id="password" required>
                                                <div class="invalid-feedback">Ingrese una contraseña</div>
                                                <a class="small mb-0" th:href="@{/login/olvidepassw}">¿Olvidaste tu
                                                    contraseña?</a>
                                            </div>
                                            <div class="col-12">
                                                <a class="btn btn-primary w-100" type="submit" id="botonIngresar">Ingresar</a>
                                                <!--<button class="btn btn-primary w-100" type="submit" id="botonIngresar">Ingresar</button>-->
                                            </div>
                                            <div class="col-12">
                                                <p class="small mb-0">¿Aún no tienes una cuenta? <a
                                                        th:href="@{/signin}">Regístrate aquí.</a></p>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                                <div style="color: rgb(187, 196, 202);" class="credits">
                                    <!-- All the links in the footer should remain intact. -->
                                    <!-- You can delete the links only if you purchased the pro version. -->
                                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                                    Diseñado por <a style="color: rgb(37, 123, 243)">Grupo Telepucp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main><!-- End #main -->

        <div style="display: none" id="loading"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
        <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
        <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
        <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
        <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
        <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
        <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.6.4.js"
                integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

        <!-- CDN LOGUEO CHAT -->
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"
                integrity="sha512-UNM1njAgOFUa74Z0bADwAq8gbTcqZC8Ej4xPSzpnh0l6KMevwvkBvbldF9uR++qKeJ+MOZHRjV1HZjoRvjDfNQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
        ></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/firebase/8.10.0/firebase.js"
                integrity="sha512-7NBxPO/qRUrKc+Wi9GbYz0YEzMpi2UMP3mtLcswnvzI0vUFP5Jb7HNVd1V8NmEhXpSe3ZLsoGEhwRHpAZDpYPQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
        ></script>

        <script th:src="@{/chatSetup/config.js}"></script>
        <script th:src="@{/chatSetup/firebase.js}"></script>

        <script>
            const loading = document.querySelector("#loading");
            const emailLoginInputElement = document.getElementById("username");
            const passwordLoginInputElement = document.getElementById("password");
            const loginBtn = document.getElementById("botonIngresar");
            function ocultarLoading() {
                loading.style.display = "none";
            }
            function mostrarLoading() {
                loading.style.display = "block";
            }

            // Para que <a> funcione como <button>
            emailLoginInputElement.addEventListener("keypress", function (e){
                if (e.key === "Enter"){
                    loginBtn.click();
                }
            })

            passwordLoginInputElement.addEventListener("keypress", function (e){
                if (e.key === "Enter"){
                    loginBtn.click();
                }
            })

            // Logueo en Firebase y CometChat
            loginBtn.addEventListener("click", function () {
                mostrarLoading();
                const email = emailLoginInputElement ? emailLoginInputElement.value : null;
                const password = passwordLoginInputElement ? passwordLoginInputElement.value : null;

                auth.signInWithEmailAndPassword(email, password).then((userCredential) => {
                    const userEmail = userCredential.user.email;
                    realTimeDb.ref().child('users').orderByChild('email').equalTo(userEmail).on("value", function (snapshot) {
                        const val = snapshot.val();

                        if (val) {
                            const keys = Object.keys(val);
                            const user = val[keys[0]];

                            if (user && user.id) {
                                CometChatWidget.init({
                                    "appID": `${config.CometChatAppId}`,
                                    "appRegion": `${config.CometChatRegion}`,
                                    "authKey": `${config.CometChatAuthKey}`
                                }).then(response => {
                                    CometChatWidget.login({uid: user.id}).then((loggedInUser) => {
                                        console.log("CometChat: Usuario logueado");
                                        document.getElementById("loginForm").submit();
                                        ocultarLoading();
                                    });
                                });
                            } else {
                                ocultarLoading();
                                console.log("Búsqueda: Error");
                            }
                        }
                    });
                })
                    .catch((error) => {
                        ocultarLoading();
                        document.getElementById("loginForm").submit();
                        // Mostrar validaciones
                        console.log("Firebase: Error")
                    });
            });
        </script>
    </body>

</html>