<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Citas</title>

        <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">

        <!-- GOOGLE FONTS -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">

        <!-- CSS -->
        <link th:href="@{/assets/css/stylePaciente.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    </head>
    <body>

        <!-- ======= Header ======= -->
        <div th:replace="~{paciente/fragments/header.html :: header}"></div>
        <!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <div th:replace="~{paciente/fragments/sidebar.html :: sidebar}"></div>
        <!-- End Sidebar-->

        <main id="main" class="main">

            <h1 class="encabezado">Citas agendadas</h1>
            <section class="seccionPrincipal">

                <a class="btn filtroSeleccionado">Próximas citas</a>
                <a class="btn filtroNoSeleccionado">Exámenes pendientes</a>

                <div class="table-responsive-xl">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Especialidad</th>
                                <th>Pago</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Tipo de cita</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Neurología</td>
                                <td>José Perez</td>
                                <td>15/04/23</td>
                                <td>10:00 Hrs.</td>
                                <td>Presencial</td>
                                <td>Pendiente</td>
                                <td>
                                    <a class="botonVerMas" data-bs-toggle="modal" data-bs-target="#citaPresencialModal">Ver
                                        más</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Psicología</td>
                                <td>María Godoy</td>
                                <td>27/05/23</td>
                                <td>13:00 Hrs.</td>
                                <td>Virtual</td>
                                <td>Cancelado</td>
                                <td>
                                    <a class="botonVerMas" data-bs-toggle="modal" data-bs-target="#citaVirtualModal">Ver
                                        más</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Psicología</td>
                                <td>María Godoy</td>
                                <td>10/05/23</td>
                                <td>13:00 Hrs.</td>
                                <td>Presencial</td>
                                <td>Cancelado</td>
                                <td>
                                    <a class="botonVerMas" href="#">Ver más</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal Presencial-->
                <div class="modal fade" id="citaPresencialModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img class="logoNavBar"
                                     th:src="@{/assets/img/logoClinicaPNG.png}"
                                     alt="Logo de la clínica">
                                <h1 class="modal-title fs-5 tituloNavBar">Clínica INTERPUCP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        style="width: 40px"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row informacionModal">
                                    <div class="col-6">
                                        <p>Nombres y apellidos:<span class="informacionModalDato">Juanchito Palacios Castro</span>
                                        </p>
                                        <p>Seguro:<span class="informacionModalDato">Pacífico EPS</span></p>
                                        <p>Teléfono:<span class="informacionModalDato">934-250-488</span></p>
                                    </div>
                                    <div class="col-6">
                                        <p>Edad:<span class="informacionModalDato">25 años</span></p>
                                        <p>Dirección:<span
                                                class="informacionModalDato">Av. Las Nuevas Lomas, Lima</span></p>
                                        <p>Correo:<span class="informacionModalDato">juanpc@gmail.com</span></p>
                                    </div>
                                </div>
                                <span class="textoModal">Cita programada para el 15 de abril del 2023 a las 10:00 Hrs.</span>
                                <div class="row informacionModal">
                                    <div class="col-6">
                                        <p>Especialidad:<span class="informacionModalDato">Cardiología</span></p>
                                        <p>Tipo de cita:<span class="informacionModalDato">Presencial</span></p>
                                        <p>Torre:<span class="informacionModalDato">B</span></p>
                                    </div>
                                    <div class="col-6">
                                        <p>Doctor:<span class="informacionModalDato">José Perez Miranda</span></p>
                                        <p>Sede:<span
                                                class="informacionModalDato">San Miguel - Av. La Marina 2945</span></p>
                                        <p>Piso:<span class="informacionModalDato">2</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer mx-auto">
                                <strong>Proceda a realizar el pago respectivo en caja</strong>
                                <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>-->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Virtual -->
                <div class="modal fade" id="citaVirtualModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img class="logoNavBar"
                                     th:src="@{/assets/img/logoClinicaPNG.png}"
                                     alt="Logo de la clínica">
                                <h1 class="modal-title fs-5 tituloNavBar">Clínica INTERPUCP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        style="width: 40px"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row informacionModal">
                                    <div class="col-6">
                                        <p>Nombres y apellidos:<span class="informacionModalDato">Juanchito Palacios Castro</span>
                                        </p>
                                        <p>Seguro:<span class="informacionModalDato">Pacífico EPS</span></p>
                                        <p>Teléfono:<span class="informacionModalDato">934-250-488</span></p>
                                    </div>
                                    <div class="col-6">
                                        <p>Edad:<span class="informacionModalDato">25 años</span></p>
                                        <p>Dirección:<span
                                                class="informacionModalDato">Av. Las Nuevas Lomas, Lima</span></p>
                                        <p>Correo:<span class="informacionModalDato">juanpc@gmail.com</span></p>
                                    </div>
                                </div>
                                <span class="textoModal">Cita programada para el 27 de abril del 2023 a las 13:00 Hrs.</span>
                                <div class="row informacionModal">
                                    <div class="col-6">
                                        <p>Especialidad:<span class="informacionModalDato">Psicología</span></p>
                                        <p>Tipo de cita:<span class="informacionModalDato">Virtual</span></p>
                                        <p>Estado de cita:<span
                                                class="informacionModalDato">Cancelada en banca móvil</span></p>
                                    </div>
                                    <div class="col-6">
                                        <p>Doctor:<span class="informacionModalDato">José Perez Miranda</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer mx-auto">
                                <a class="btn btn-primary botonEntrarCita"
                                   th:href="@{/Paciente/sesionVirtual}">Acceder
                                    a sesión virtual</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Descomentar cuando se tienen más de 5 filas en la tabla
                <nav>
                  <ul class="pagination justify-content-center">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
              -->

            </section>

            <section id="pieDePagina">
                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="d-flex align-items-center col-md-10">
                                <img style="height: 30px; margin-left: 30px"
                                     th:src="@{/assets/img/logoClinicaPNG.png"
                                     alt="Logo de la clínica">
                                <span class="fw-bold d-none d-lg-block">Clínica INTERPUCP</span>
                            </div>
                            <div class="d-flex align-items-center col-md-auto">
                                <div class="col-md-3">
                                    <i class="bi bi-telephone-fill"></i>
                                </div>
                                <div class="col-md-auto justify-content-end">
                                    <span class="fw-bold d-none d-lg-block">987-154-200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </section>

        </main><!-- End #main -->

        <!-- Bootstrap CDN JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/assets/js/main.js}"></script>

    </body>
</html>