<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paciente - Confirmación</title>

        <th:block th:replace="~{paciente/fragments/head.html::estilos}"></th:block>

    </head>
    <body>
        <!-- ======= Header ======= -->
        <div th:replace="~{paciente/fragments/header.html :: header(paciente = ${session.paciente})}"></div>
        <!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <div th:replace="~{paciente/fragments/sidebar.html :: sidebar('')}"></div>
        <!-- End Sidebar-->

        <main id="main" class="main site-content">
            <h1 class="encabezado text-center" style="width: 90%">Reservar Cita</h1>

            <div class="bodyReservar">
                <div class="cardReservar py-4">
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-md-8 col-lg-8">
                            <div class="campo">
                                <div class="encabezado fs-4 mb-3 text-center">
                                    Confirme los datos de su cita
                                </div>
                                <div class="row informacion informacion">
                                    <div class="col-6 fw-semibold"><i class="bi bi-person-fill me-2"></i>Paciente
                                    </div>
                                    <div class="col-6" th:text="${session.paciente.getNombreYApellido()}">
                                        Pepelucho
                                    </div>
                                </div>
                                <div class="row informacion">
                                    <div class="col-6 fw-semibold"><i class="bi bi-bandaid-fill me-2"></i>Seguro
                                    </div>
                                    <div class="col-6" th:text="${session.paciente.seguro.nombre}">Rimas</div>
                                </div>
                                <div class="row informacion">
                                    <div class="col-6 fw-semibold"><i class="bi bi-hexagon-half me-2"></i>Modalidad
                                    </div>
                                    <div class="col-6"
                                         th:text="${citaTemporal.modalidad == 0?'Presencial':'Virtual'}">Presencial
                                    </div>
                                </div>
                                <div class="row informacion" th:if="${citaTemporal.modalidad == 0}">
                                    <div class="col-6 fw-semibold"><i class="bi bi-geo-alt-fill me-2"></i>Sede</div>
                                    <div class="col-6" th:text="${sede.nombre}">San Pepe</div>
                                </div>
                                <div class="row informacion">
                                    <div class="col-6 fw-semibold"><i class="bi bi-heart-pulse-fill me-2"></i>Especialidad
                                    </div>
                                    <div class="col-6" th:text="${especialidad.nombre}">Rinomaicurología</div>
                                </div>
                                <div class="row informacion">
                                    <div class="col-6 fw-semibold"><i class="bi bi-person-heart me-2"></i>Doctor
                                    </div>
                                    <div class="col-6" th:text="${doctor.getNombreYApellido()}">Dr. Dom</div>
                                </div>
                                <div class="row informacion">
                                    <div class="col-6 fw-semibold"><i class="bi bi-calendar-event-fill me-2"></i>Horario
                                    </div>
                                    <div class="col-6"
                                         th:text="${#temporals.format(citaTemporal.inicio, 'HH:mm')+' - '+#temporals.format(citaTemporal.fin, 'HH:mm')}">
                                        10:00 - 11:00
                                    </div>
                                </div>
                                <div class="row informacion">
                                    <div class="col-6 fw-semibold"><i class="bi bi-currency-exchange me-2"></i>Costo
                                        (Coaseguro)
                                    </div>
                                    <div class="col-6" th:text="'S/. '+${#numbers.formatDecimal(precio, 1, 2)}">S/.
                                        90.00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>

            <!-- Modal -->
            <div class="modal fade" id="modal-cita" tabindex="-1" aria-labelledby="modal-pago-label"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header row-cols-auto">
                            <button type="button" class="btn-close col-lg-2 fw-bold"
                                    data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <div class="cardConfirmacion">
                                <div class="cardTitulo">
                                    Cita agendada
                                </div>
                                <div class="cardCuerpo">
                                    <div class="cardTexto">Para más detalles visite la sección CITAS</div>
                                    <a class="btn botonVolverInicio" th:href="@{/Paciente/citas}">Revisar citas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="loading"></div>

            <!-- Bootstrap CDN JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                    crossorigin="anonymous"></script>

            <!-- Template Main JS File -->
            <script th:src="@{/assets/js/main.js}"></script>

            <th:block th:replace="~{paciente/fragments/scripts.html::chatScripts}"></th:block>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#modal-cita').modal('show');
                });

                var headerColorPaciente = "[[${headerColorPaciente}]]";
                localStorage.setItem('headerColorPaciente', headerColorPaciente);

                function updateHeaderColorPaciente() {
                    var color = headerColorPaciente;
                    document.getElementById('header').style.backgroundColor = color;
                }

                updateHeaderColorPaciente();
            </script>
    </body>
</html>