<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>

        <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">

        <!-- GOOGLE FONTS -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/assets/css/stylePaciente.css}">
        <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">

    </head>
    <body>

        <!-- ======= Header ======= -->
        <div th:replace="~{paciente/fragments/header.html :: header(paciente = ${session.paciente})}"></div>
        <!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <div th:replace="~{paciente/fragments/sidebar.html :: sidebar('inicio')}"></div>
        <!-- End Sidebar-->

        <main id="main" class="main">
            <h1 class="encabezado">Doctores</h1>
            <section class="seccionPrincipal">
                <!-- Filtros -->
                <form method="get" th:action="@{/Paciente/doctores}">
                    <div class="row filtroNav">
                        <div class="col-md-4 col-lg-4 filtro d-flex justify-content-start">
                            <label class="labelFiltro">Sede</label>
                            <select class="form-select" name="sede">
                                <option th:each="sede: ${sedeList}" th:value="${sede.idSede}" th:text="${sede.nombre}" th:selected="${sede.idSede == idSede}"></option>
                            </select>
                        </div>
                        <div class="col-md-5 col-lg-6 filtro d-flex justify-content-start">
                            <label class="labelFiltro">Especialidad</label>
                            <select class="form-select" name="esp">
                                <option value="0" th:selected="${idEspecialidad == 0}">Todas las especialidades</option>
                                <option th:each="especialidad : ${especialidadList}" th:value="${especialidad.idEspecialidad}" th:text="${especialidad.nombre}" th:selected="${especialidad.idEspecialidad == idEspecialidad}"></option>
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-2 d-flex justify-content-center">
                            <input type="hidden" name="pag" value="1">
                            <button class="botonFiltro" type="submit"><i class="bi bi-search"></i>   Buscar</button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xxl-3 filaDoctores" th:each="doctor: ${doctorList}">
                        <div class="cardDoctor">
                            <div class="seccionFoto">
                                <img class="fotoDoctor rounded-circle" th:src="@{/Paciente/imageDoctor(idDoctor=${doctor.id_doctor})}" alt="fotoDoctor">
                            </div>
                            <div class="seccionDescripcion">
                                <div class="seccionNombre" th:text="'Dr. '+ ${doctor.nombre} +' '+ ${doctor.apellidos}">Ronald Richard</div>
                                <div class="seccionEspecialidad" th:text="${doctor.especialidad.nombre}">Cirujano</div>
                            </div>
                            <div class="seccionDisponibilidad">
                                <div class="seccionHorario" th:inline="text"><i class="bi bi-clock me-1"></i> [[${#temporals.dayOfWeekName(dia1)}+': '+${#temporals.format(doctor.horario.disponibilidad_inicio, 'HH:mm')}+'  -  '+${#temporals.format(doctor.horario.disponibilidad_fin, 'HH:mm')}]]</div>
                                <div class="seccionHorario" th:inline="text"><i class="bi bi-clock me-1"></i> [[${#temporals.dayOfWeekName(dia2)}+': '+${#temporals.format(doctor.horario.disponibilidad_inicio, 'HH:mm')}+'  -  '+${#temporals.format(doctor.horario.disponibilidad_fin, 'HH:mm')}]]</div>
                            </div>
                            <div class="d-grid">
                                <a th:href="@{/Paciente/perfilDoctor(doc=${doctor.id_doctor})}" class="botonVerMasDoctor">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>

                <nav class="mt-2">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${paginaPrevia == 0? 'disabled': ''}">
                            <a class="page-link" th:href="@{'/Paciente/doctores?sede='+${idSede}+'&esp='+${idEspecialidad}+'&pag='+${paginaPrevia}}">Anterior</a>
                        </li>
                        <li class="page-item" th:each="pagina: ${paginas}" th:classappend="${paginaActual == pagina? 'active': ''}">
                            <a class="page-link" th:href="@{'/Paciente/doctores?sede='+${idSede}+'&esp='+${idEspecialidad}+'&pag='+${pagina}}" th:text="${pagina}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${paginaActual == totalPaginas? 'disabled':''}">
                            <a class="page-link" th:href="@{'/Paciente/doctores?sede='+${idSede}+'&esp='+${idEspecialidad}+'&pag='+${paginaSiguiente}}">Siguiente</a>
                        </li>
                    </ul>
                </nav>

            </section>

            <!-- ====== Footer ====== -->
            <div th:replace="~{paciente/fragments/footer.html :: footer}"></div>
            <!-- End footer -->

        </main>

        <!-- Bootstrap CDN JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/assets/js/main.js}"></script>
    </body>
</html>