<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reservar Cita</title>


        <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">

        <!-- GOOGLE FONTS -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/assets/css/stylePaciente.css}">
        <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">

    </head>
    <body>

        <!-- ======= Header ======= -->
        <div th:replace="~{paciente/fragments/header.html :: header(paciente = ${session.paciente})}"></div>
        <!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <div th:replace="~{paciente/fragments/sidebar.html :: sidebar('')}"></div>
        <!-- End Sidebar-->

        <main id="main" class="main site-content">

            <h1 class="encabezado" style="color: #435067">Reservar cita</h1>

            <section class="seccionPrincipal">

                <div class="row" style="margin-top: 40px;margin-left: 20px">
                    <div class="col-6">
                        <p class="mb-2"><span class="fw-bold">Paciente:</span><span style="margin-left: 13px"
                                                                                    th:text="${session.paciente.nombre}+' '+${session.paciente.apellidos}">Juanchito Palacios Castro</span>
                        </p>
                        <p class="mb-2"><span class="fw-bold">Fecha de nacimiento:</span><span
                                style="margin-left: 20px"
                                th:text="${#temporals.format(session.paciente.fechanacimiento, 'dd/MM/yyyy')}">25 años</span>
                        </p>
                        <p class="mb-2"><span class="fw-bold">Correo:</span><span style="margin-left: 13px"
                                                                                  th:text="${session.paciente.correo}">juanpc98@gmail.com</span>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="mb-2"><span class="fw-bold">Dirección:</span><span style="margin-left: 13px"
                                                                                     th:text="${session.paciente.direccion}">Av. Las Nuevas Lomas, Lima</span>
                        </p>
                        <p class="mb-2"><span class="fw-bold">Teléfono:</span><span style="margin-left: 13px"
                                                                                    th:text="${session.paciente.telefono}">934-250-488</span>
                        </p>
                        <p class="mb-2"><span class="fw-bold">Seguro:</span><span style="margin-left: 13px"
                                                                                  th:text="${session.paciente.seguro.nombre}">Seguro</span>
                        </p>
                    </div>
                </div>

                <form method="post" th:action="@{/Paciente/reservar1}" th:object="${citaTemporal}">

                    <input type="hidden" name="idPaciente" th:value="${session.paciente.idPaciente}">
                    <input type="hidden" name="idSeguro" th:value="${session.paciente.seguro.idSeguro}">
                    <input type="hidden" name="idDoctor" value="0">

                    <div class="row" style="margin-top: 20px;margin-left: 20px">
                        <div class="col-6">
                            <p><span class="fw-bold">Modalidad:</span><span class="fw-bold" style="color: red">*</span>
                            </p>
                            <select style="border-radius: 8px; padding-left: 18px; font-size: 15px; margin-top: 5px; padding-right: 25px"
                                    th:field="*{modalidad}" th:classappend="${#fields.hasErrors('modalidad')? 'is-invalid':''}">
                                <option value="">--Seleccione tipo de cita--</option>
                                <option value="0">Presencial</option>
                                <option value="1">Virtual</option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('modalidad')}" th:errors="*{modalidad}"></div>


                        </div>
                        <div class="col-6">
                            <p><span class="fw-bold">Sede:</span><span class="fw-bold"
                                                                       style="color: red">*</span></p>
                            <select th:field="*{idSede}"
                                    style="border-radius: 8px; padding-left: 18px; font-size: 15px; margin-top: 5px; padding-right: 25px"
                                    th:classappend="${#fields.hasErrors('idSede')?'is-invalid':''}">
                                <option value="">--Seleccione una sede--</option>
                                <option th:each="sede, iterStat:${sedeList}" th:if="${iterStat.index} &lt; 3" th:value="${sede.idSede}" th:text="${sede.nombre}">
                                    Sede
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('idSede')}" th:errors="*{idSede}"></div>

                            <p><span class="fw-bold">Especialidad:</span><span class="fw-bold"
                                                                               style="color: red">*</span></p>
                            <select th:field="*{idEspecialidad}"
                                    style="border-radius: 8px; padding-left: 18px; font-size: 15px; margin-top: 5px; padding-right: 25px" th:classappend="${#fields.hasErrors('idEspecialidad')? 'is-invalid':''}">
                                <option value="">--Seleccione una especialidad--</option>
                                <option th:each="especialidad:${especialidadList}"
                                        th:value="${especialidad.idEspecialidad}" th:text="${especialidad.nombre}">Sede
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('idEspecialidad')}" th:errors="*{idEspecialidad}"></div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end"
                         style="margin-top: 70px; margin-right: 80px; margin-bottom: 20px">
                        <a th:href="@{/Paciente}" class="botonCancelar">Cancelar</a>
                        <button type="submit" class="btn botonAceptar ms-3">Siguiente</button>
                    </div>
                </form>
            </section>

            <!-- ====== Footer ====== -->
            <footer class="site-footer">
                <div th:replace="~{paciente/fragments/footer.html :: footer}"></div>
            </footer>
            <!-- End footer -->

        </main><!-- End #main -->

        <!-- Bootstrap CDN JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/assets/js/main.js}"></script>
    </body>
</html>