<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paciente - Reservar cita</title>


        <th:block th:replace="~{paciente/fragments/head.html::estilos}"></th:block>


    </head>
    <body>

        <!-- ======= Header ======= -->
        <div th:replace="~{paciente/fragments/header.html :: header(paciente = ${session.paciente})}"></div>
        <!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <div th:replace="~{paciente/fragments/sidebar.html :: sidebar('')}"></div>
        <!-- End Sidebar-->

        <main id="main" class="main site-content">

            <h1 class="encabezado text-center">Reservar cita</h1>

            <div class="bodyReservar">
                <div class="cardReservar py-4">

                    <form method="post" th:action="@{/Paciente/reservar1}" th:object="${citaTemporal}">

                        <div class="row justify-content-center">
                            <div class="col-sm-10 col-md-8 col-lg-6">

                                <div class="campo">
                                    <div class="fw-bold mb-1">
                                        Modalidad
                                    </div>
                                    <select name="modalidad" class="form-select" id="select_modalidad"
                                            th:field="*{modalidad}"
                                            th:classappend="${#fields.hasErrors('modalidad')? 'is-invalid':''}">
                                        <option value="">-- Seleccione una modalidad --</option>
                                        <option value="0">Presencial</option>
                                        <option value="1">Virtual</option>
                                    </select>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('modalidad')}"
                                         th:errors="*{modalidad}"></div>
                                </div>

                                <div class="campo">
                                    <div class="fw-bold mb-1">
                                        Especialidad
                                    </div>
                                    <select class="form-select" id="select_especialidad" th:field="*{idEspecialidad}"
                                            th:classappend="${#fields.hasErrors('idEspecialidad')? 'is-invalid':''}">
                                        <option value="">-- Seleccione una especialidad --</option>
                                    </select>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('idEspecialidad')}"
                                         th:errors="*{idEspecialidad}"></div>
                                </div>

                                <div class="campo" id="campoSede">
                                    <div class="fw-bold mb-1">
                                        Sede
                                    </div>
                                    <select class="form-select" th:field="*{idSede}"
                                            th:classappend="${#fields.hasErrors('idSede')?'is-invalid':''}">
                                        <option value="">-- Seleccione una sede --</option>
                                        <option th:each="sede, iterStat:${sedeList}" th:if="${iterStat.index} &lt; 3"
                                                th:value="${sede.idSede}" th:text="${sede.nombre}">San Miguel
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('idSede')}"
                                         th:errors="*{idSede}"></div>
                                </div>
                            </div>
                            <div id="opcionesCitaPendiente" class="text-center mb-3 w-75" style="display: none">
                                <div class="text-muted text-center mb-4" id="mensaje" style="font-size: .9rem">Mensaje
                                </div>
                                <a id="botonCitaPendiente" class="botonSecundario">Reservar cita pendiente</a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center py-3">
                            <a th:href="@{/Paciente/reservarTipo}" class="botonCancelar">Cancelar</a>
                            <button type="submit" class="botonAceptar ms-3">Siguiente</button>
                        </div>
                    </form>
                </div>
            </div>
        </main><!-- End #main -->
        <div id="loading"></div>

        <script>
            var headerColorPaciente = "[[${headerColorPaciente}]]";
            localStorage.setItem('headerColorPaciente', headerColorPaciente);

            function updateHeaderColorPaciente() {
                var color = headerColorPaciente;
                document.getElementById('header').style.backgroundColor = color;
            }

            updateHeaderColorPaciente();
        </script>
        <!-- Bootstrap CDN JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.7.0.js"
                integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/assets/js/main.js}"></script>

        <th:block th:replace="~{paciente/fragments/scripts.html::chatScripts}"></th:block>

        <script th:inline="javascript">
            // Obtener especialidades y mostrar citas pendientes
            $("#select_modalidad").click(function () {
                let selectEsp = $("#select_especialidad");
                let campoSede = $("#campoSede");
                let modalidad = $(this).val();

                if (modalidad !== "") {

                    // Obtener especialidades
                    $.ajax({
                        method: "GET",
                        url: getUrl() + "/Paciente/api/especialidades/" + modalidad
                    }).done(function (data) {
                        selectEsp.empty();
                        selectEsp.append("<option value=''>-- Seleccione una especialidad --</option>");
                        for (let i = 0; i < data.especialidades.length; i++) {
                            selectEsp.append("<option value='" + data.especialidades[i].idEspecialidad + "'>" + data.especialidades[i].nombre + "</option>");
                        }
                    }).fail(function (e) {
                        console.log("error");
                    });

                    if (modalidad === "1") {
                        campoSede.slideUp();
                        $("#campoSede option[value=1]").attr("selected", "selected");
                    } else if (modalidad === "0") {
                        campoSede.slideDown();
                        $("#campoSede option[value='']").attr("selected", "selected");
                    }
                }
            });

            // Mostar si existe citas pendientes
            $("#select_especialidad").change(function () {
                let paciente = [[${session.paciente.idPaciente}]];
                let mensaje = $("#mensaje");
                let botonCitaPendiente = $("#botonCitaPendiente");
                let contenedor = $("#opcionesCitaPendiente");

                let especialidad = $(this).find(":selected").text();

                $.get(getUrl() + "/Paciente/api/citas/pendientes/" + paciente)
                    .done(function (data) {
                        if (data.citas.length > 0) { // existen citas pendientes
                            for (let i = 0; i < data.citas.length; i++) {
                                if (especialidad === data.citas[i].especialidad) {
                                    mensaje.text("Usted tiene 1 cita pendiente en la especialidad de: " + especialidad + ". Desea reservar la cita pendiente?")
                                    botonCitaPendiente.attr("href", "/Paciente/reservaPendiente?c=" + data.citas[i].id);
                                    contenedor.slideDown();
                                } else {
                                    botonCitaPendiente.attr("href", "#");
                                    contenedor.slideUp();
                                }
                            }
                        }
                    }).fail(function (e) {
                    console.log("error");
                });
            });

        </script>
    </body>
</html>