<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paciente - Reservar</title>

        <th:block th:replace="~{paciente/fragments/head.html::estilos}"></th:block>

        <!-- JQUERY UI -->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    </head>
    <body>

        <!-- ======= Header ======= -->
        <div th:replace="~{paciente/fragments/header.html :: header(paciente = ${session.paciente})}"></div>
        <!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <div th:replace="~{paciente/fragments/sidebar.html :: sidebar('')}"></div>
        <!-- End Sidebar-->

        <main id="main" class="main site-content">

            <h1 class="encabezado text-center">Reservar cita</h1>

            <div class="bodyReservar">
                <div class="cardReservar py-4">

                    <form method="post" th:action="@{/Paciente/reservarPendiente}" th:object="${citaTemporal}">

                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{idSede}">
                        <input type="hidden" th:field="*{idEspecialidad}">
                        <input type="hidden" th:field="*{idDoctor}">

                        <div class="row justify-content-center">
                            <div class="col-sm-10 col-md-8 col-lg-6">
                                <div class="campo">
                                    <div class="fw-bold mb-1">
                                        Especialidad
                                    </div>
                                    <div class="input-group">
                                        <select class="form-select" disabled>
                                            <option th:text="${cita.especialidad.nombre}" selected>Especialidad</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="campo">
                                    <div class="fw-bold mb-1">
                                        Doctor
                                    </div>
                                    <div class="input-group">
                                        <select class="form-select" disabled>
                                            <option th:text="${cita.doctor.getNombreYApellido()}" selected>Doctor
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="campo">
                                    <div class="fw-bold mb-1">
                                        Modalidad
                                    </div>
                                    <div class="input-group">
                                        <select class="form-select" th:field="*{modalidad}">
                                            <option value="">-- Seleccione una modalidad --</option>
                                            <option value="0">Presencial</option>
                                            <option value="1">Virtual</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="campo">
                                    <div class="fw-bold mb-1">
                                        Fecha del examen
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="input_fecha" th:field="*{fecha}">
                                        <span class="input-group-text" id="basic-addon2"><i class="bi bi-calendar3"></i></span>
                                    </div>
                                </div>
                                <div class="campo">
                                    <div class="fw-bold mb-1">
                                        Horarios disponibles
                                    </div>
                                    <select class="form-select" id="select_horario" th:field="*{inicio}">
                                        <option value="">-- Seleccione un horario --</option>
                                    </select>
                                </div>
                                <div class="text-muted text-center mb-2" style="display: none" id="mensaje">Mensaje
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center py-3">
                            <a th:href="@{/Paciente/pendientes}" class="botonCancelar">Cancelar</a>
                            <button type="submit" class="botonAceptar ms-3">Siguiente</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <div id="loading"></div>
        <script>
            var headerColorPaciente = "[[${headerColorPaciente}]]";
            localStorage.setItem('headerColorPaciente', headerColorPaciente);

            function updateHeaderColorPaciente() {
                var color = headerColorPaciente;
                document.getElementById('header').style.backgroundColor = color;
            }

            updateHeaderColorPaciente();
        </script>
        <!-- Bootstrap CDN JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/assets/js/main.js}"></script>

        <th:block th:replace="~{paciente/fragments/scripts.html::chatScripts}"></th:block>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.7.0.js"
                integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.7.0.js"
                integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

        <!-- JQuery UI -->
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
                integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>

        <script th:inline="javascript">

            $(function () {
                $("#input_fecha").datepicker({
                    dateFormat: 'dd-mm-yy',
                    minDate: 0,
                    beforeShowDay: noSundays
                });
            });

            function noSundays(date) {
                return [date.getDay() != 0, ''];
            }

            $("#input_fecha").change(function () {
                let selectHorario = $("#select_horario");
                let doctor = [[${cita.doctor.id_doctor}]];
                let fecha = $(this).val();
                let fechaLimite = [[${fechaLimite}]];
                let mensaje = $("#mensaje");

                $.get(getUrl() + "/Paciente/api/horarios/consulta/" + doctor + "/" + fecha)
                    .done(function (data) {
                        selectHorario.empty();
                        selectHorario.append("<option value=''>-- Seleccione un horario --</option>");
                        for (let i = 0; i < data.horarios.length; i++) {
                            selectHorario.append("<option value='" + data.horarios[i].inicio + "'>" + data.horarios[i].inicio.substring(0, 5) + " - " + data.horarios[i].fin.substring(0, 5) + "</option>");
                        }
                    }).fail(function (e) {
                    console.log("error");
                });

                let [year, month, day] = fechaLimite.split('-');
                let fechaLimiteFormat = new Date(+year, +month - 1, +day);
                [day, month, year] = fecha.split('-');
                let fechaFormat = new Date(+year, +month - 1, +day);

                if (fechaFormat < fechaLimiteFormat) {
                    mensaje.text("No se aplicará cobro por la cita");
                    mensaje.slideDown();
                } else {
                    mensaje.text("Se aplicará el cobro estándar por la cita");
                    mensaje.slideDown();
                }
            });
        </script>

    </body>
</html>