<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Dashboard - Doctor</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet'/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <!-- Favicons -->
        <link th:href="@{/assets/img/logo.png}" rel="icon">
        <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <!--<link th:href="@{/assets/css/style.css" rel="stylesheet"> -->
        <link th:href="@{/assets/css/styleDoctor.css}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- CSS PAGINACION -->

        <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">

    </head>

    <body>
    <div th:replace="~{doctor/fragments/header.html :: header(doctor = ${session.doctor})}"></div>
    <div th:replace="~{doctor/fragments/sidebar.html :: sidebar('dashboard')}"></div>
    <main id="main" class="main">


            <!-- End Page Title -->

            <section class="section dashboard">


                <!-- Left side columns -->

                <div class="row justify-content-center align-items-center">


                    <!-- Top Selling -->
                    <div style="width: auto" class="col-6">
                        <div class="pagetitle">
                            <h1>Dashboard</h1>
                        </div>
                        <div class="card top-selling container">

                            <div class="card-body pb-0">
                                <ul class="nav nav-tabs nav-tabs-bordered">
                                    <li class="nav-item">
                                        <button class="nav-link active" data-bs-toggle="tab"
                                                data-bs-target="#citas">Próximas Citas
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="tab"
                                                data-bs-target="#pacientes">Pacientes
                                        </button>
                                    </li>
                                </ul>

                                <div class="tab-content pt-2" style="margin-top: -25px">
                                    <div class="tab-pane fade show active citas pt-3" id="citas">
                                        <h5 style="margin-bottom:-10px" class="card-title">
                                            PRÓXIMAS CITAS
                                        </h5>
                                        <br>

                                        <div class="d-flex flex-column"
                                             style="height: auto;width: max-content;overflow: hidden">
                                            <div class="table-responsive">
                                                <table id="example" class="table ">
                                                    <thead style="text-align: left">
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Nombre</th>
                                                            <th scope="col">Tipo de cita</th>
                                                            <th scope="col">Horario</th>
                                                            <th style="width: max-content" scope="col">Estado de
                                                                consulta
                                                            </th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>


                                                    <tbody style="text-align: left">
                                                        <tr th:each="cita,obj: ${listaCitas}"
                                                            th:with="horario=${listaHorarios[obj.index]}">

                                                            <td th:text="${obj.index+1}"></td>


                                                            <td style="font-size: 1rem"
                                                                th:text="${cita.getNombre() + ' ' + cita.getApellidos()}">
                                                            </td>

                                                            <td style="font-size: 1rem">
                                                                <h6 th:text="${cita.modalidad == 0 ? 'Presencial' : (cita.modalidad == 1 ? 'Virtual' : 'Examen')}"></h6>
                                                            </td>



                                                            <td style="font-size: 1rem;color: black"
                                                                th:text="${horario}">
                                                            </td>

                                                            <td style="font-size: 1rem;color: black">
                                                                <h6 th:if="${cita.estado == 0}"
                                                                    th:text="'Próxima cita'"></h6>
                                                                <h6 th:if="${cita.estado == 1}"
                                                                    th:text="'Registrado en caja'"></h6>
                                                                <h6 th:if="${cita.estado == 2}"
                                                                    th:text="'En espera'"></h6>
                                                                <h6 th:if="${cita.estado == 3}"
                                                                    th:text="'En consulta'"></h6>
                                                                <h6 th:if="${cita.estado == 5}"
                                                                    th:text="'Examen pendiente'"></h6>
                                                            </td>


                                                            <td th:if="${cita.modalidad == 1 || cita.modalidad == 2}">
                                                                <div style="width: max-content">
                                                                    <a th:if="${cita.modalidad == 1}" th:href="@{'/doctor/reporte?id=' + ${cita.getId_paciente()}+ '&id2=' + ${cita.getId_cita()}}"
                                                                       type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Iniciar cita virtual">
                                                                        <i style="color: #ffffff"
                                                                           class="bi-play-fill"></i>
                                                                    </a>

                                                                    <a th:if="${cita.modalidad == 2}" th:href="@{'/doctor/reporte?id=' + ${cita.getId_paciente()}+ '&id2=' + ${cita.getId_cita()}}"
                                                                       type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Subir examen">
                                                                        <i style="color: #ffffff"
                                                                           class="bi-play-fill"></i>
                                                                    </a>

                                                                    <a th:if="${cita.modalidad == 1}" th:href="@{'/doctor/enviarCuestionario?id=' + ${cita.getId_cita()}}" style="width: max-content" data-bs-toggle="tooltip" data-bs-placement="top" title="Enviar cuestionario" class="btn btn-warning">
                                                                        <i class="bi-file-text-fill"></i>
                                                                    </a>

                                                                    <!-- Modal -->




                                                                </div>
                                                            </td>
                                                            <td th:unless="${cita.modalidad == 1 || cita.modalidad == 2}">
                                                                <h6 style="text-align: center">No apto</h6>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                    <div style="width: max-content" class="tab-pane fade pacientes pt-3" id="pacientes">


                                        <h5 style="margin-bottom:-10px" class="card-title">
                                            PACIENTES
                                        </h5>
                                        <br>

                                        <div class="d-flex flex-column" style="height: auto; overflow: auto;">
                                            <div class="table-responsive">
                                                <table style="text-align: left" id="example2"
                                                       class="table ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col" style="width: min-content">Foto</th>
                                                            <th scope="col" style="text-align: left">Nombres</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="height: fit-content"
                                                            th:each="paciente,obj: ${listaPacientes}">
                                                            <td th:text="${obj.index+1}"></td>
                                                            <td style="text-align: left;">
                                                                <div style="display: inline-block; border-radius: 50%; border: none; overflow: hidden;">
                                                                    <img th:if="${paciente.foto != null}" th:src="@{'/usuario/foto/'+${paciente.getId_paciente()}}" style="width: 65px; height: 65px; object-fit: cover;"
                                                                         alt="Foto del paciente">
                                                                    <img th:unless="${paciente.foto != null}" th:src="@{/assets/img/userPorDefecto.jpg}" style="width: 65px; height: 65px; object-fit: cover;"
                                                                         alt="Foto del paciente">
                                                                </div>
                                                            </td>
                                                            <td style="font-size: 1.2rem; color: black">
                                                                <a th:href="@{'/doctor/historialClinico' + '?id=' + ${paciente.id_paciente}}"
                                                                   th:text="${paciente.getNombre() + ' ' + paciente.getApellidos()}"></a>
                                                            </td>

                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>


                                    </div>
                                </div>


                            </div>

                        </div>
                    </div><!-- End Top Selling -->

                    <div class="col-5  justify-content-center align-items-start">
                        <div class="card top-selling overflow-auto container" style="height: 553px; overflow: auto;">
                            <div class="card-body pb-0">
                                <h5 class="card-title">CALENDARIO</h5>
                                <section class="section dashboard">
                                    <pacientesdiv class="row bg-white p-3">
                                        <script>

                                            document.addEventListener('DOMContentLoaded', function () {
                                                var calendarEl = document.getElementById('calendar');

                                                var calendar = new FullCalendar.Calendar(calendarEl, {
                                                    headerToolbar: {
                                                        left: 'prev,next today',
                                                        center: 'title',
                                                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                                                    },
                                                    initialDate: '2023-01-12',
                                                    navLinks: true, // can click day/week names to navigate views
                                                    selectable: true,
                                                    selectMirror: true,
                                                    select: function (arg) {
                                                        var title = prompt('Event Title:');
                                                        if (title) {
                                                            calendar.addEvent({
                                                                title: title,
                                                                start: arg.start,
                                                                end: arg.end,
                                                                allDay: arg.allDay
                                                            })
                                                        }
                                                        calendar.unselect()
                                                    },
                                                    eventClick: function (arg) {
                                                        if (confirm('¿Estás seguro que deseas eliminar este evento?')) {
                                                            arg.event.remove()
                                                        }
                                                    },
                                                    editable: true,
                                                    dayMaxEvents: true, // allow "more" link when too many events
                                                    events: [
                                                        {
                                                            title: 'All Day Event',
                                                            start: '2023-01-01'
                                                        },
                                                        {
                                                            title: 'Long Event',
                                                            start: '2023-01-07',
                                                            end: '2023-01-10'
                                                        },
                                                        {
                                                            groupId: 999,
                                                            title: 'Repeating Event',
                                                            start: '2023-01-09T16:00:00'
                                                        },
                                                        {
                                                            groupId: 999,
                                                            title: 'Repeating Event',
                                                            start: '2023-01-16T16:00:00'
                                                        },
                                                        {
                                                            title: 'Conference',
                                                            start: '2023-01-11',
                                                            end: '2023-01-13'
                                                        },
                                                        {
                                                            title: 'Meeting',
                                                            start: '2023-01-12T10:30:00',
                                                            end: '2023-01-12T12:30:00'
                                                        },
                                                        {
                                                            title: 'Lunch',
                                                            start: '2023-01-12T12:00:00'
                                                        },
                                                        {
                                                            title: 'Meeting',
                                                            start: '2023-01-12T14:30:00'
                                                        },
                                                        {
                                                            title: 'Happy Hour',
                                                            start: '2023-01-12T17:30:00'
                                                        },
                                                        {
                                                            title: 'Dinner',
                                                            start: '2023-01-12T20:00:00'
                                                        },
                                                        {
                                                            title: 'Birthday Party',
                                                            start: '2023-01-13T07:00:00'
                                                        },
                                                        {
                                                            title: 'Click for Google',
                                                            url: 'http://google.com/',
                                                            start: '2023-01-28'
                                                        }
                                                    ]
                                                });

                                                calendar.render();
                                            });

                                        </script>
                                        <div id='calendar'></div>

                                    </pacientesdiv>

                                </section>
                            </div>
                        </div>


                    </div>
                    <div class="col-6">


                    </div><!-- End Left side columns -->
                </div><!-- End Left side columns -->

                <!-- Right side columns -->


                </div>


                </div><!-- End Website Traffic -->

            </section>

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">

            <div class="credits">

            </div>
        </footer><!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
        <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
        <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
        <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
        <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
        <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
        <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
        <!-- Agregamos las librerías de jQuery y Bootstrap 5 -->


        <!-- Template Main JS File -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script th:src="@{/assets/js/jsDoctor.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


        <!-- Agregar la biblioteca FullCalendar -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
        <script th:src="@{/assets/js/index.js}"></script>
        <script th:src="@{/assets/js/datatables.js}"></script>
        <script th:src="@{/assets/js/moment.js}"></script>
        <!-- PAGINACION -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script th:src="@{/assets/js/jsPaginarDoctorNueva.js}"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <!--  FIN PAGINACION  -->
        <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
        <script>
            $(document).ready(function () {
                $('#example2').DataTable();
            });
        </script>
        <script>// Obtener una referencia al elemento HTML donde se mostrará el calendario
        var calendarEl = document.getElementById('calendar');

        // Configurar las opciones del calendario
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: [
                {
                    title: 'Evento 1',
                    start: '2023-04-25'
                },
                {
                    title: 'Evento 2',
                    start: '2023-04-26T12:30:00',
                    end: '2023-04-26T14:30:00'
                },
                {
                    title: 'Evento 3',
                    start: '2023-04-27T12:00:00',
                    end: '2023-04-27T16:00:00'
                }
            ]
        });

        // Mostrar el calendario
        calendar.render();
        </script>

        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>
        <script>
            function toggleDiv() {
                var div = document.getElementById("miDiv");
                div.style.display = div.style.display === "none" ? "block" : "none";
            }
        </script>
    </body>


</html>