<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Mensajería - Doctor</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link th:href="@{/assets/img/logo.png}" rel="icon">
        <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

        <!-- Vendor CSS Files -->
        <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <!--<link th:href="@{/assets/css/style.css" rel="stylesheet"> -->
        <link th:href="@{/assets/css/styleDoctor.css}" rel="stylesheet">


        <!--Links para mensajeria-->

        <!--End link mensajeria-->

        <!-- =======================================================
        * Template Name: NiceAdmin
        * Updated: Mar 09 2023 with Bootstrap v5.2.3
        * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>

    <body>
    <div th:replace="~{doctor/fragments/header.html :: header(doctor = ${session.doctor})}"></div>
    <div th:replace="~{doctor/fragments/sidebar.html :: sidebar('mensajeria')}"></div>

        <main id="main" class="main ">

            <section  >
                <div class="row d-flex justify-content ">
                    <div  class = "bg-white col-md-4 col-sm-2 p-6 ">
                        <h3 class=" m-3">Tus chats</h3>

                        <div class = "scrollable1 px-3 list-group"  >
                            <button class="list-group-item fondo list-group-item-action active d-flex  justify-content p-3 mb-2 rounded border" data-bs-toggle="tab" data-bs-target="#sms1"  >
                                <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class = "rounded-circle me-2"/>
                                <div class="overflow-hidden">
                                    <div class = "d-flex justify-content-between mb-0">
                                        <span class="fw-bold">Diego Juan Velazquez Torres</span>
                                        <small>09:55 am</small>
                                    </div>
                                    <small class ="ellipsis"> Ten en cuenta que para que la propiedad 'overflow-ellipsis' funcione correctamente, el contenedor que contiene el texto debe tener una anchura fija o estar limitado por otro elemento. De lo contrario, el texto no se cortará y se mostrará completo, ignorando la propiedad 'overflow-ellipsis'.</small>
                                </div>
                            </button>



                        </div>
                        <br>

                    </div>
                    <div class = "col-md-8 col-sm-10" style="background-color: #F2F2F2" >
                        <div class="tab-content">
                            <div class="tab-pane fade show active " id="sms1">
                                <div class=" d-flex  justify-content p-4 px-5 mb-2  border-bottom"  >
                                    <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class = "rounded-circle me-3"/>
                                    <div class="overflow-hidden">
                                        <div class = "d-flex justify-content-between mb-0">
                                            <span class="fw-bold">Dieguiño Juan Velazquez Torres</span>
                                        </div>
                                        <p>En línea</p>
                                    </div>
                                </div>
                                <div class = "scrollable2 px-5"  >
                                    <div class="d-flex mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                                            <div class="bg-white p-2 ms-2 rounded">
                                                <p class="mb-1 fw-bold">Diego Velazquez</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div>
                                                <small class=" ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row-reverse mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                                            <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                                                <p class="mb-1 fw-bold">Alexandra Manrique</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div class ="text-end">
                                                <small class="ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                                            <div class="bg-white p-2 ms-2 rounded">
                                                <p class="mb-1 fw-bold">Diego Velazquez</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div>
                                                <small class=" ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row-reverse mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                                            <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                                                <p class="mb-1 fw-bold">Alexandra Manrique</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div class ="text-end">
                                                <small class="ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3  d-flex align-items-center">
                                    <input type="text" class="form-control me-2  border-0" placeholder="Escribe tu mensaje...">
                                    <button type="button" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>



                            <div class="tab-pane fade  " id="sms2">
                                <div class=" d-flex  justify-content p-4 px-5 mb-2  border-bottom"  >
                                    <img th:src="@{/assets/img/p3.jpg}" width="70" height="70" class = "rounded-circle me-3"/>
                                    <div class="overflow-hidden">
                                        <div class = "d-flex justify-content-between mb-0">
                                            <span class="fw-bold">Jorge Juan Velazquez Torres</span>
                                        </div>
                                        <p>En línea</p>
                                    </div>
                                </div>
                                <div class = "scrollable2 px-5"  >
                                    <div class="d-flex mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                                            <div class="bg-white p-2 ms-2 rounded">
                                                <p class="mb-1 fw-bold">Diego Velazquez</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div>
                                                <small class=" ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row-reverse mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                                            <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                                                <p class="mb-1 fw-bold">Alexandra Manrique</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div class ="text-end">
                                                <small class="ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                                            <div class="bg-white p-2 ms-2 rounded">
                                                <p class="mb-1 fw-bold">Diego Velazquez</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div>
                                                <small class=" ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row-reverse mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                                            <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                                                <p class="mb-1 fw-bold">Alexandra Manrique</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div class ="text-end">
                                                <small class="ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3  d-flex align-items-center">
                                    <input type="text" class="form-control me-2  border-0" placeholder="Escribe tu mensaje...">
                                    <button type="button" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                            <div class="tab-pane fade  " id="sms3">
                                <div class=" d-flex  justify-content p-4 px-5 mb-2  border-bottom"  >
                                    <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class = "rounded-circle me-3"/>
                                    <div class="overflow-hidden">
                                        <div class = "d-flex justify-content-between mb-0">
                                            <span class="fw-bold">Diego Juan Velazquez Torres</span>
                                        </div>
                                        <p>En línea</p>
                                    </div>
                                </div>
                                <div class = "scrollable2 px-5"  >
                                    <div class="d-flex mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                                            <div class="bg-white p-2 ms-2 rounded">
                                                <p class="mb-1 fw-bold">Diego Velazquez</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div>
                                                <small class=" ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row-reverse mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                                            <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                                                <p class="mb-1 fw-bold">Alexandra Manrique</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div class ="text-end">
                                                <small class="ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11 ">
                                            <div class="bg-white p-2 ms-2 rounded">
                                                <p class="mb-1 fw-bold">Diego Velazquez</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div>
                                                <small class=" ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row-reverse mb-4">

                                        <img th:src="@{/assets/img/p2.jpg}" width="70" height="70" class=" rounded-circle align-self-end"/>
                                        <div class = "flex flex-col col-lg-6 col-md-9 col-sm-11">
                                            <div class="text-white p-2 me-2 rounded " style="background-color: #5882FA">
                                                <p class="mb-1 fw-bold">Alexandra Manrique</p>
                                                <small class=" ">
                                                    El mundo es un lugar maravilloso pero lamentablemente conocemos muy poco sobre él. Al menos, mucho menos de lo que podríamos.
                                                </small>
                                            </div>
                                            <div class ="text-end">
                                                <small class="ms-2">09:55 am</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3  d-flex align-items-center">
                                    <input type="text" class="form-control me-2  border-0" placeholder="Escribe tu mensaje...">
                                    <button type="button" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->


        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <script>
            var headerColorDoctor = "[[${headerColorDoctor}]]";
            localStorage.setItem('headerColorDoctor', headerColorDoctor);

            function updateHeaderColorDoctor() {
                var color = headerColorDoctor;
                document.getElementById('header').style.backgroundColor = color;
            }
            updateHeaderColorDoctor();
        </script>
        <!-- Vendor JS Files -->
        <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
        <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
        <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
        <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
        <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
        <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
        <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/assets/js/jsDoctor.js}"></script>



    </body>

</html>