<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" th:fragment="sidebar(seleccion)">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " th:classappend="${seleccion == 'dashboard'? '':'collapsed'}" th:href="@{/doctor/dashboard}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link" th:classappend="${seleccion != 'reportes' ? 'collapsed' : ''}" th:unless="${seleccion != 'reportes'}">
                <i class="bi bi-card-text"></i>
                <span>Reportes</span>
            </a>
        </li><!-- End Profile Page Nav -->
        <li class="nav-item">
            <a class="nav-link" th:classappend="${seleccion == 'calendario'? '':'collapsed'}" th:href="@{/doctor/calendario}">
                <i class="bi bi-calendar"></i>
                <span>Calendario General</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link" th:classappend="${seleccion == 'recibos'? '':'collapsed'}" th:href="@{/doctor/recibo}">
                <i class="bi bi-currency-exchange"></i>
                <span>Recibos</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:classappend="${seleccion == 'mensajerio'? '':'collapsed'}" th:href="@{/doctor/mensajeria}">
                <i class="bi bi-chat-quote"></i>
                <span>Mensajería</span>
            </a>
        </li><!-- End Profile Page Nav -->
    </ul>
    <br><br><br>

    <div th:if="${seleccion == 'calendario' || seleccion == 'dashboard'}" style="border: 3px; padding: 10px; border-radius: 5px; background-color: #F5F5F5;">
        <div class="pagetitle">
            <h1>Leyenda:</h1>
        </div>
        <p><span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: rgb(55, 154, 184); margin-right: 5px;"></span>Cita virtual</p>
        <p><span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: #86C69B; margin-right: 5px;"></span>Cita presencial</p>
    </div>



</aside><!-- End Sidebar-->
</body>
</html>